# Cohort analysis

## Analyses
1. ~~Simple keyword analysis~~
    * ~~tag cloud / bar chart visualisation~~
2. ~~Keyword analysis using word embeddings to conflate synonyms~~
    * Visualization of 2.?
3. ~~Sentiment analysis, e.g. pos/neg/neutral etc.~~
4. ~~Compare different cohorts, e.g. based on career stage, geography etc.  (if we have this data).~~
   * ~~Need to prioritise stratifications~~ 
5. Clustering of keywords, possibly using Carrot2 or similar?

TODO

* ~~Load dataframe~~
* ~~Apply basic sentiment analysis to column 1~~
  * ~~do manual check~~
* ~~Apply SA to all columns~~
* ~~calculate average sentiment for each column~~
    * ~~Experiment with variations on the VADER output, e.g. use other sentiment values (e.g. pos/neg)~~
* ~~Programmatically iterate over all columns~~
* ~~Test different SA algos, e.g. https://realpython.com/python-nltk-sentiment-analysis/~~
  * Can't really use ML without training data

## Prioritised stratifications
1. Role
1. Continent
2. Gender

## SA hypotheses:
* Role: more senior is more negative? *EVIDENCE FOUND*
* Gender: no difference expected *EVIDENCE FOUND*
* Geography: higher income more negative?
* Type of unit: Public sector more positive than private?

## Import data, clean & normalise

In [24]:
import pandas as pd

In [27]:
# read csv ignoring potential N/As
# df = pd.read_csv('Open Ended Questions-Table 1.csv', na_filter = False)
df = pd.read_csv('Data/Final data-Table 1.csv', na_filter = False)
# NB: Global Survey Data May24 - Final data was normalised prior to export to csv by removing 2nd header line and relabelling verbatim cols

In [28]:
df

,Respondent ID,Nationality,NAT,Year of birth,Gender,Marital status,Category 4: Marital status,In what country do you practice clinical embryology?,Category 1: Continent,Category 2: World bank classification,...,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Which best describes your professional morale and your feelings about the current state of clinical embryology profession?,Unnamed: 168,Unnamed: 169
0,19109318431,United Kingdom,186,1968,Female,Married or domestic partnership,Married or domestic partnership,United Kingdom,Europe and UK,High-income economies,...,,Paperwork burden,,,,,,3,,
1,19101225923,United Kingdom,186,1966,Male,"Single, never married","Single, never married",United Kingdom,Europe and UK,High-income economies,...,,Paperwork burden,Professional responsibility for errors,,,,,2,,
2,19096201682,Greece,67,1989,Female,Married or domestic partnership,Married or domestic partnership,Greece,Europe and UK,High-income economies,...,,,,Work dependency,Working hours/overtime,,,3,,
3,19095409638,United Kingdom,186,1990,Female,Married or domestic partnership,Married or domestic partnership,United Kingdom,Europe and UK,High-income economies,...,,,Professional responsibility for errors,,,,,4,,
4,19087353970,India,78,1998,Female,"Single, never married","Single, never married",India,Asian Countries,Lower-middle-income economies,...,Lack of professional recognition,,,,Working hours/overtime,,,5 - Very optimistic,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,12834286411,South Africa,162,1978,Female,"Single, never married","Single, never married",South Africa,Sub-Saharan Africa (South Africa),Upper-middle-income economies,...,,,,,,,,4,,
1254,12834264931,South Africa,162,1987,Female,Married or domestic partnership,Married or domestic partnership,South Africa,Sub-Saharan Africa (South Africa),Upper-middle-income economies,...,Lack of professional recognition,,,Work dependency,,,,3,,
1255,12829654095,Peru,138,1962,Male,Divorced,Previously Married,Chile,South America,High-income economies,...,,,,,Working hours/overtime,,,5 - Very optimistic,,
1256,,,,,,,,,,,...,,,,,,,,,,
1257,,,,,,,,,,,...,,,,,,,,,,

## Sentiment Analysis using NLTK

See https://www.datacamp.com/tutorial/text-analytics-beginners-nltk

In [319]:
# import libraries
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [320]:
df['Q1a']

0                          Equality with clinical members
1                     Bullying by colleagues and managers
2             Working hours and too many responsibilities
3                                          burnout/stress
4                                             Recognizion
                              ...
1253    Respect from other departments for the complex...
1254                                        limited staff
1255                                             Training
1256
1257
Name: Q1a, Length: 1258, dtype: object

In [285]:
def analyse_cols(df, col1, col2):
    df = df.copy()  # Explicitly make a copy of the DataFrame
    df.loc[:, 'sentiment1'] = df.loc[:, col1].apply(get_compound_sentiment)
    df.loc[:, 'sentiment2'] = df.loc[:, col2].apply(get_compound_sentiment)
    with pd.option_context('display.max_colwidth', None):
        display(df[[col1, 'sentiment1', col2, 'sentiment2']])
    mean_sent = (df.loc[:, 'sentiment1'].mean() + df.loc[:, 'sentiment2'].mean())/2
    std_sent = (df.loc[:, 'sentiment1'].std() + df.loc[:, 'sentiment2'].std())/2 # a bit of a hack, should really square first
    print("Mean sentiment: {0:6.3f}".format(mean_sent))
    print("Std dev: {0:13.3f}".format(std_sent))
    return mean_sent

In [226]:
def analyse_col(df, col):
    df.loc[:, 'sentiment'] = df.loc[:, col].apply(get_compound_sentiment)
    with pd.option_context('display.max_colwidth', None):
        display(df[[col, 'sentiment']])
    mean_sent = (df.loc[:, 'sentiment'].mean())
    std_sent = (df.loc[:, 'sentiment'].std())
    print("Mean sentiment: {0:6.3f}".format(mean_sent))
    print("Std dev: {0:13.3f}".format(std_sent))
    return mean_sent

In [227]:
# initialize NLTK sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

In [228]:
# compound get_sentiment function
def get_compound_sentiment(text):
    scores = analyzer.polarity_scores(text)
    return scores['compound']

In [347]:
#  helper function to analyse sentiment across all 4 verbatims
def analyse_verbatims(index, in_df, out_df):
    out_df.iloc[index, res_df.columns.get_loc('Q1')] = analyse_cols(in_df, 'Q1a', 'Q1b')
    out_df.iloc[index, res_df.columns.get_loc('Q2')] = analyse_cols(in_df, 'Q2a', 'Q2b')
    out_df.iloc[index, res_df.columns.get_loc('Q3')] = analyse_cols(in_df, 'Q3a', 'Q3b')
    out_df.iloc[index, res_df.columns.get_loc('Q4')] = analyse_col(in_df, 'Q4')

## 1. Role

In [424]:
role_results = {'Category': ['Junior', 'Senior', 'Mgmt'],
        'Q1': [0.1, 0.2, 0.3],
        'Q2': [0.1, 0.2, 0.3],
        'Q3': [0.1, 0.2, 0.3],
        'Q4': [0.1, 0.2, 0.3]}
role_results_df = pd.DataFrame.from_dict(results)
role_results_df

  Category   Q1   Q2   Q3   Q4
0   Junior  0.1  0.1  0.1  0.1
1   Senior  0.2  0.2  0.2  0.2
2     Mgmt  0.3  0.3  0.3  0.3

### 1.1 Junior/trainee embryologist

In [355]:
junior_df = df[df["Category 3: Professional status"].isin(["Junior/trainee embryologist"])]
analyse_verbatims(0, junior_df, role_results_df)
role_results_df

,Q1a,sentiment1,Q1b,sentiment2
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
4,Recognizion,0.0000,Trust,0.5106
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
19,We are not being paid fairly (it's a specialized field),0.0000,Subjectivity when it comes to selecting/grading embryos,0.0000
...,...,...,...,...
1208,Too much paperwork,0.0000,Not enough focus on advancement,0.0000
1235,Understaffing,0.0000,Way too many hours worked,0.0000
1242,Increased workload,0.2732,Unpaid overtime and weekend work,0.0000
1243,The overtime work (sudden shifts),0.0000,Constant trouble shooting and little room for error,-0.6293
1250,Low Salaries,-0.2732,Working weekends,0.0000

Mean sentiment: -0.047
Std dev:         0.242

,Q2a,sentiment1,Q2b,sentiment2
2,Access to training,0.0000,Certification,0.0000
4,Handson training,0.0000,Trust,0.5106
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
19,Grading subjectivity,0.0000,Workplace stress,-0.4215
...,...,...,...,...
1208,Too few embryologists in general,0.0000,Lack of regulation / standardization,-0.3182
1235,Understaffing,0.0000,Way too many hours worked,0.0000
1242,Major responsibility,0.0000,Not always heard,0.0000
1243,Not paid according to the service done,0.0000,The high risk of burnout,-0.2732
1250,Not closing over December,0.0000,Low Salaries,-0.2732

Mean sentiment: -0.022
Std dev:         0.233

,Q3a,sentiment1,Q3b,sentiment2
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
4,Good laboratory training,0.4404,Troubleshooting,0.1779
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
19,More recognition and a better payscale (minimally equivalent to the nurses),0.4877,More clinical involvement when it comes to deciding a patient's cycle/decision,0.0000
...,...,...,...,...
1208,"Standardize procedures/labeling, etc",0.0000,Provide more nurturing environment for juniors,0.5095
1235,Staff appropriately,0.0000,Cap number of hours worked,0.0772
1242,Overtime to a minimum,0.0000,Mindfullness of weekend work,0.0000
1243,Schedule stimulation protocols more accordingly,0.0000,Hire people to lessen administrative work,0.0000
1250,Higher salaries,0.0000,Closing over December,0.0000

Mean sentiment:  0.167
Std dev:         0.250

,Q4,sentiment
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
4,Be confident in the work i do Academically strong,0.7579
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
19,Laboratory manager/director,0.0000
...,...,...
1208,"PhD at EVMS, Lab Director (ABB HCLD)",0.0000
1235,To get out of embryology,0.0000
1242,I aspire to be a good technical and pratically skilled Embryologist with thorough knowledge and good patient communication and care skills.,0.8402
1243,To practice as a clinical embryologist in a private clinic,0.0000
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351

Mean sentiment:  0.213
Std dev:         0.319

  Category        Q1        Q2        Q3        Q4
0   Junior -0.046796 -0.022254  0.166524  0.212885
1   Senior -0.047869 -0.035858  0.133322  0.194123
2     Mgmt  0.300000  0.300000  0.300000  0.300000

### 1.2 Senior embryologist

In [358]:
senior_df = df[df["Category 3: Professional status"].isin(["Senior embryologist"])]
analyse_verbatims(1, senior_df, role_results_df)
role_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
3,burnout/stress,0.0000,poor management,-0.4767
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
...,...,...,...,...
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612
1247,Too many cases per embryologist,0.0000,Not enough off-time,0.0000
1249,Working lots of weekends and public holidays,0.3818,workload,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019

Mean sentiment: -0.048
Std dev:         0.248

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
3,not enough highly trained staff,0.0000,politics,0.0000
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
...,...,...,...,...
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404
1247,Continuous skill development,0.0000,Not enough staff,0.0000
1249,workload,0.0000,stress,-0.4215
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salary,-0.2732,Weekend and holiday work,0.4019

Mean sentiment: -0.036
Std dev:         0.233

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
3,better pay,0.3612,better CPD opportunities,0.6705
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
...,...,...,...,...
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019
1247,More staff to allow more personal time,0.2878,More opportunities to better our knowledge,0.7233
1249,increased wages (should get paid for weekends + public holidays),0.2732,employ more embryologists,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818

Mean sentiment:  0.133
Std dev:         0.233

,Q4,sentiment
0,Continue,0.0000
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
3,FRCPath,0.0000
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
8,"to run an independant practice, be a partner and not an employee",0.0000
...,...,...
1246,be ART researcher.,0.0000
1247,To be the best embryologist I can be to the patients.,0.6369
1249,lab director,0.0000
1251,Dont make a big mistake,0.2584
1252,Make babies and make people happy.,0.5719

Mean sentiment:  0.194
Std dev:         0.310

  Category        Q1        Q2        Q3        Q4
0   Junior -0.046796 -0.022254  0.166524  0.212885
1   Senior -0.047869 -0.035858  0.133322  0.194123
2     Mgmt -0.048956 -0.045007  0.131119  0.199107

### 1.3 Management/director

In [357]:
mgmt_df = df[df["Category 3: Professional status"].isin(["Management/director"])]
analyse_verbatims(2, mgmt_df, role_results_df)
role_results_df

,Q1a,sentiment1,Q1b,sentiment2
9,lack of leadership,-0.3182,burnout,0.00
11,Time managment,0.0000,Long hours,0.00
14,Time spent at work,0.0000,Money for new quipment,0.00
15,Workload,0.0000,Underpaid,0.00
22,time management with patients/doctors,0.0000,including embryologists more in patient-treatment,0.00
...,...,...,...,...
1240,Lack of consideration by MDs,-0.3182,Understaffing,0.00
1248,sterility,0.0000,accuracy/prevention of errors,-0.34
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.00
1254,limited staff,-0.2263,doctors,0.00
1255,Training,0.0000,Being able to have technical and manual capacities,0.00

Mean sentiment: -0.049
Std dev:         0.228

,Q2a,sentiment1,Q2b,sentiment2
9,managment,0.0000,AI,0.0000
11,Lack of respect,0.2023,Having to make do with bare min equipment,0.0000
14,Low salary,-0.2732,Stress,-0.4215
15,Underpayment,0.0000,Lack of recognition,-0.3182
22,no mistakes are allowed,-0.5719,a lot of responsibility,0.0000
...,...,...,...,...
1240,Undervalued,0.0000,Underpaid,0.0000
1248,availability of positions,0.0000,working conditions,0.0000
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000

Mean sentiment: -0.045
Std dev:         0.241

,Q3a,sentiment1,Q3b,sentiment2
9,train managers to lead and not manage,0.0000,recognition,0.0000
11,Bigger budget for new equipment,0.0000,avoidance of working both days on weekends,-0.4019
14,More staff,0.0000,more off time,0.0000
15,Increase number of embryologists per lab,0.3818,Pay,-0.1027
22,no weekend work (better timing),-0.2960,knowledge that fertilization failure is not the fault of the embryologist,-0.2598
...,...,...,...,...
1240,Staffing guidelines/rules,0.0000,Educational guidelines and rules,0.0000
1248,Mon to Fri working hours,0.0000,8 hours per day,0.0000
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.131
Std dev:         0.217

,Q4,sentiment
9,have a happy team,0.5719
11,Done it,0.0000
14,Best success rate to promote our clinic,0.8885
15,Help struggling couples to have family of their own.,-0.0258
22,Lab-Leader,0.0000
...,...,...
1240,Retire with money in the bank,0.0000
1248,Building up of newly found laboratory in remote part of country,0.0000
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000
1255,being able to help our patients,0.4019

Mean sentiment:  0.199
Std dev:         0.291

  Category        Q1        Q2        Q3        Q4
0   Junior -0.046796 -0.022254  0.166524  0.212885
1   Senior -0.048956 -0.045007  0.131119  0.199107
2     Mgmt -0.048956 -0.045007  0.131119  0.199107

### Show heatmap

In [359]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = role_results_df.style.background_gradient()
s

## 2. Continent

In [265]:
cont_results = {'Continent': ['Asian', 'ANZ', 'EU', 'Mid East', 'NorthAm', 'NA (USA+Can)', 'SouthAm', 'SSAfrica', 'SSAfrica (SA)'],
        'Q1': [0.1, 0.2, 0.3,0.1, 0.2, 0.3, 0.1, 0.2, 0.3],
        'Q2': [0.1, 0.2, 0.3,0.1, 0.2, 0.3, 0.1, 0.2, 0.3],
        'Q3': [0.1, 0.2, 0.3,0.1, 0.2, 0.3, 0.1, 0.2, 0.3],
        'Q4': [0.1, 0.2, 0.3,0.1, 0.2, 0.3, 0.1, 0.2, 0.3]}
cont_results_df = pd.DataFrame.from_dict(cont_results)

In [266]:
cont_results_df

       Continent   Q1   Q2   Q3   Q4
0          Asian  0.1  0.1  0.1  0.1
1            ANZ  0.2  0.2  0.2  0.2
2             EU  0.3  0.3  0.3  0.3
3       Mid East  0.1  0.1  0.1  0.1
4        NorthAm  0.2  0.2  0.2  0.2
5   NA (USA+Can)  0.3  0.3  0.3  0.3
6        SouthAm  0.1  0.1  0.1  0.1
7       SSAfrica  0.2  0.2  0.2  0.2
8  SSAfrica (SA)  0.3  0.3  0.3  0.3

### 2.1 Asian Countries

In [360]:
asian_df = df[df["Category 1: Continent"].isin(["Asian Countries"])]
analyse_verbatims(0, asian_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
4,Recognizion,0.0000,Trust,0.5106
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
12,administration work,0.0000,not enough equipment,0.0000
25,Employees shortage,-0.2500,Untrained staff,0.0000
28,make no mistake,-0.5574,manage time properly,0.0000
...,...,...,...,...
1158,Results,0.0000,Waiting time,0.0000
1159,Day-5 blastocyst formation,0.0000,Thawed semen sample preparation,0.0000
1160,Interference of the clinician,0.0000,No credits for positives,0.5719
1161,Number of cases,0.0772,Quality Management,0.0000
1162,Male partners issue,0.0000,Supplies!,0.0000

Mean sentiment: -0.036
Std dev:         0.269

,Q2a,sentiment1,Q2b,sentiment2
4,Handson training,0.0000,Trust,0.5106
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
12,administration work,0.0000,lack of budget,-0.3182
25,Oocyte quality,0.0000,Implantation even after everything is good,0.4404
28,professional title evaluation,0.0000,paper publishing,0.0000
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Thawed embryos results,0.0000,D-5 blastocyst formation or grading,0.0000
1160,Full time responsibility without any holidays,-0.2924,Paid less,0.0000
1161,Number of cases,0.0772,Quality Management,0.0000
1162,I don’t think so!,0.0000,No issues,-0.2960

Mean sentiment: -0.034
Std dev:         0.262

,Q3a,sentiment1,Q3b,sentiment2
4,Good laboratory training,0.4404,Troubleshooting,0.1779
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
12,a good system for administration work,0.4404,financial empowerment,0.0000
25,Should be adequate staff,0.2263,Time flexibility,0.3400
28,no,-0.2960,no,-0.2960
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Avoid exposure of embryos as much you can,-0.2960,Assess embryos on day0- day1 and then on day 3 or 5 only,0.0000
1160,Definite working hours,0.2732,Proper trainings,0.0000
1161,Provide optimum number of embryologist depending on the number of cases,0.1531,Software to ease the data maintenance,0.3612
1162,Renumeration,0.0000,Support staff,0.4019

Mean sentiment:  0.152
Std dev:         0.245

,Q4,sentiment
4,Be confident in the work i do Academically strong,0.7579
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
12,to become scientific director with research project,0.0000
25,To find answers of failed implantation,-0.5106
28,lab director,0.0000
...,...,...
1158,Embryologist,0.0000
1159,Become a successful scientist,0.5859
1160,To help as many infertile couple as possible & to give them a healthy baby of their own.,0.6597
1161,To become a successful embryologist,0.5859
1162,Perfection!!!,0.6784

Mean sentiment:  0.285
Std dev:         0.321

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can) -0.078252 -0.057447  0.134797  0.109998
6        SouthAm  0.008454 -0.031203  0.143214  0.167738
7       SSAfrica -0.090921 -0.079295  0.140767  0.287852
8  SSAfrica (SA) -0.052014 -0.061212  0.172014  0.251500

### 2.2 ANZ

In [288]:
anz_df = df[df["Category 1: Continent"].isin(["Australia-New Zealand"])]
analyse_verbatims(1, anz_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
19,We are not being paid fairly (it's a specialized field),0.0000,Subjectivity when it comes to selecting/grading embryos,0.0000
49,Poor management,-0.4767,Stress caused by workload,-0.4215
126,underappreciation,0.0000,inner lab politics,0.0000
129,Workload,0.0000,Staffing,0.0000
130,Burn out from stress/lack of support,0.4019,Equipment supplies.,0.0000
...,...,...,...,...
930,Respect from clinicians,0.4767,Time,0.0000
1040,Salary,0.0000,Work flexibility,0.3400
1088,time,0.0000,poor training,-0.4767
1091,a lot of bad new calls falls on us and some patients havent been prepared to fail a cycle,-0.8256,a lot of patients just a have no idea what role we actually play in the cycle,0.0516
1184,Burn out from stress.,-0.4215,Being on call all the time,0.0000

Mean sentiment: -0.101
Std dev:         0.234

,Q2a,sentiment1,Q2b,sentiment2
19,Grading subjectivity,0.0000,Workplace stress,-0.4215
49,Poor management,-0.4767,Bullying and nepotism,-0.5994
126,stress,-0.4215,multiple tasking,0.0000
129,Workload,0.0000,Staffing,0.0000
130,Appropriate renumeration -Recognition of the pressures of the role.,-0.3182,Not enough acknowledgment that experience is just as relevant (if not more so) than a grad degree.,0.0000
...,...,...,...,...
930,Respect from clinicians,0.4767,Too many graduates who are unskilled and unsuited to the profession,0.0000
1040,Keeping trained staff,0.0000,Salary,0.0000
1088,career advancement,0.0000,salary,0.0000
1091,low pay for literally making life,-0.3612,expected to perform miracles and getting slammed when it doesnt happen,0.0000
1184,Managing rosters and leave,-0.0516,Staff turn over,0.0000

Mean sentiment: -0.063
Std dev:         0.207

,Q3a,sentiment1,Q3b,sentiment2
19,More recognition and a better payscale (minimally equivalent to the nurses),0.4877,More clinical involvement when it comes to deciding a patient's cycle/decision,0.0000
49,National pay and conditions standards,-0.1027,Doctor owned clinics care more about patients and staff. They should be supported more,0.6705
126,adding admins to the team to take care of the paper work and reports and let the embryologists focus on lab work,0.4939,clear career/training path,0.3818
129,More practical training programs,0.0000,Greater advertisement at unis about the embryology career,0.3612
130,Better/reliable equipment and having stock available.,0.0000,Better mental health support and recognition - better renumeration,0.8176
...,...,...,...,...
930,Improved staffing ratios,0.4767,Better access to AFFORDABLE training and further education,0.4404
1040,EA agreements at all IVF Clinics,0.2732,Set days for OPU's to limit Saturday and Sunday work hours,0.0000
1088,pay them well,0.1779,professional association,0.0000
1091,higher pay,-0.1027,more public education about IVF,0.0000
1184,An overhaul of numbers of embryologists per case,0.0000,Better on call and weekend rotations,0.4404

Mean sentiment:  0.133
Std dev:         0.222

,Q4,sentiment
19,Laboratory manager/director,0.0000
49,Retirement,0.0000
126,Money :),0.4588
129,Be a successful Embryologist,0.5859
130,Keep working,0.0000
...,...,...
930,To win the lotto!!,0.6580
1040,To stay working in the IVF field,0.0000
1088,mentoring pass on my knowledge establish a large research footprint,0.0000
1091,"to become a fully qualified embryologist, potentially lab manager or higher later down the track.",0.0000
1184,Lab manager for a small to mid sized clinic,0.0000

Mean sentiment:  0.181
Std dev:         0.306

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU  0.300000  0.300000  0.300000  0.300000
3       Mid East  0.100000  0.100000  0.100000  0.100000
4        NorthAm  0.200000  0.200000  0.200000  0.200000
5   NA (USA+Can)  0.300000  0.300000  0.300000  0.300000
6        SouthAm  0.100000  0.100000  0.100000  0.100000
7       SSAfrica  0.200000  0.200000  0.200000  0.200000
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.3 EU

In [289]:
eu_df = df[df["Category 1: Continent"].isin(["Europe and UK"])]
analyse_verbatims(2, eu_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
3,burnout/stress,0.0000,poor management,-0.4767
9,lack of leadership,-0.3182,burnout,0.0000
...,...,...,...,...
1220,Stress,-0.4215,Workload,0.0000
1227,Clinical work load per embryologist,0.0000,Difficulty to voice suggestions for improvement,0.1531
1237,oocyte vitrification,0.0000,more sophisticated witnessing - software etc.,0.5984
1238,Quality control,0.0000,Work pressure,-0.2960
1244,"Motivation (stress, burnout)",0.3400,Getting the work done,0.0000

Mean sentiment: -0.039
Std dev:         0.235

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
2,Access to training,0.0000,Certification,0.0000
3,not enough highly trained staff,0.0000,politics,0.0000
9,managment,0.0000,AI,0.0000
...,...,...,...,...
1220,Globalisation / commercialisation,0.0000,Reliance on technicians rather than embryologists,0.0000
1227,Work/personal life balance,0.0000,Poor envolvment on R&D,-0.4767
1237,AI for embryo - selection,0.0000,NiPGT,0.0000
1238,Quality management control,0.0000,Quality management assurance,0.3400
1244,Safety in the lab,0.4215,Deliver quality,0.0000

Mean sentiment: -0.011
Std dev:         0.222

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
3,better pay,0.3612,better CPD opportunities,0.6705
9,train managers to lead and not manage,0.0000,recognition,0.0000
...,...,...,...,...
1220,Workload per embryologist guidelines,0.0000,Daylight,0.0000
1227,"Limit per embryologist numbers of time consuming procedures (biopsy, Tesa/pesa, egg freeze)",0.0000,Provide help admin/technicians/software,0.4019
1237,IVF lab facility,0.0000,good collective,0.4404
1238,Administrative simplification,0.0000,Clinic-laboratory communication,0.0000
1244,even distribution of work,0.0000,provide sufficient staff,0.0000

Mean sentiment:  0.117
Std dev:         0.222

,Q4,sentiment
0,Continue,0.0000
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
3,FRCPath,0.0000
9,have a happy team,0.5719
...,...,...
1220,Survive!,0.0000
1227,Laboratory manager,0.0000
1237,I am satisfied :-),0.6249
1238,Senior clinical embryologist,0.0000
1244,PhD,0.0000

Mean sentiment:  0.169
Std dev:         0.292

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East  0.100000  0.100000  0.100000  0.100000
4        NorthAm  0.200000  0.200000  0.200000  0.200000
5   NA (USA+Can)  0.300000  0.300000  0.300000  0.300000
6        SouthAm  0.100000  0.100000  0.100000  0.100000
7       SSAfrica  0.200000  0.200000  0.200000  0.200000
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.4 Middle East

In [291]:
me_df = df[df["Category 1: Continent"].isin(["Middle Eastern Countries"])]
analyse_verbatims(3, me_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
17,Oocyte quality,0.0000,Machine fixation,0.000
26,Stress induced work environment,-0.4215,No support to access clinical embryology knowledge,0.128
27,Recognition and sallary,0.0000,Supply of devices and consumables,0.000
33,BURN OUT,0.0000,Doctors always blame embryologist,-0.340
35,emotional stress,-0.2960,patients/doctors demands,0.000
...,...,...,...,...
1077,Load of cases to number of embryologists working,0.0772,"Hence, time",0.000
1079,equipment,0.0000,training,0.000
1093,No equality in work because we don't have specific governmental rules for Embryologists.,-0.2960,No scientific support in all ivf updates overall,0.128
1094,Timing between work and studying,0.0000,Work load,0.000
1107,Success rate,0.5719,QC,0.000

Mean sentiment: -0.019
Std dev:         0.224

,Q2a,sentiment1,Q2b,sentiment2
17,Embryo quality,0.0000,Pregnancy rate,0.0000
26,Lack of organized regulations community,-0.3182,AI,0.0000
27,Training,0.0000,Recognition and sallary,0.0000
33,NO WORK-LIFE BALANCE,-0.2960,stress,-0.4215
35,emotional stress,-0.2960,afraid to make a mistake,-0.3400
...,...,...,...,...
1077,Physicians,0.0000,Regualtions that protect the embyologist,0.3818
1079,training,0.0000,equipmet,0.0000
1093,Financial issues,0.0000,Follow up updates,0.0000
1094,Work load,0.0000,F,0.0000
1107,Quality,0.0000,Success rate,0.5719

Mean sentiment: -0.038
Std dev:         0.266

,Q3a,sentiment1,Q3b,sentiment2
17,Control case number by day,0.0772,Checking working machine regularly,0.0000
26,Union for embryologist,0.0000,Increase scientific support through worksfop and continuous education,0.6124
27,Sponsoring for attending events,0.0000,Sponsoring for training,0.0000
33,Hire staff according to workload,0.0000,Give embryologists space to work,0.0000
35,emotional support,0.5106,financial benefits,0.3818
...,...,...,...,...
1077,Regualtions,0.0000,Support for small private clinics,0.4019
1079,online cource,0.0000,academic coure,0.0000
1093,More employee's to divid the tasks well.,0.2732,More skills more meetings.. More scientific papers must published for each ivf clinic,0.0000
1094,Training,0.0000,Superving,0.0000
1107,Quick decision making,0.0000,Handling skills,0.0000

Mean sentiment:  0.129
Std dev:         0.224

,Q4,sentiment
17,Good embryo quality,0.4404
26,Partnership in ivf center,0.0000
27,Highest success rates,0.5719
33,To be a Quality Manager and audit labs,0.0000
35,lab director,0.0000
...,...,...
1077,Shift to women’s counseling,0.0000
1079,scientist,0.0000
1093,My ambition is to increase my self esteem when I show sterile couples having babies by developing my self scientifically in order to treat difficult sterile cases.,0.3612
1094,Be professional,0.0000
1107,Phd,0.0000

Mean sentiment:  0.204
Std dev:         0.289

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm  0.200000  0.200000  0.200000  0.200000
5   NA (USA+Can)  0.300000  0.300000  0.300000  0.300000
6        SouthAm  0.100000  0.100000  0.100000  0.100000
7       SSAfrica  0.200000  0.200000  0.200000  0.200000
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.5 North America

In [292]:
na_df = df[df["Category 1: Continent"].isin(["North America"])]
analyse_verbatims(4, na_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
61,Excessive overtime,0.0000,Career progression,0.0000
67,Burn-out,0.0000,poor leadership,-0.4767
89,Long hours,0.0000,Lack of pay,-0.4019
194,Under staff,0.0000,Career growth,0.3818
203,Stress due to high workload,-0.4215,Physical challenges from long periods at microscope,0.0772
204,Recognition of the role of embryologists,0.0000,Career advancement,0.0000
250,Overwork,0.0000,Professional burnout,0.0000
291,Updating dated equipment,0.0000,Staffing,0.0000
321,staffing,0.0000,workload,0.0000
413,WORKING 100% ERROR FREE EVERY DAY,0.1531,DISINTEREST IN FEEDBACK BY OTHER GROUPS,0.0000
639,workload,0.0000,staffing,0.0000
640,Respect,0.4767,Stress,-0.4215
687,Work long hours,0.0000,No viable sperm for ICSI,-0.2960
783,Stress,-0.4215,Overworked,0.0000
901,Racial discrimination,0.0000,Less opportunities for cases,0.3197
992,under paid,0.0000,under staff,0.0000
1006,Workload,0.0000,Mental and physical stress,-0.4215
1020,increasing workload,0.0000,on-call for cryobank,0.0000
1029,High workload ( not enough staff),0.0000,Time to train new staff,0.0000
1030,Finding enough time to read scientific journals,0.0000,All the added task that are added in a daily occurance,0.0000
1042,poor work life balance,-0.4767,over worked,0.0000
1096,time,0.0000,stress,-0.4215
1203,Not enough employees,0.0000,Time off work,0.0000

Mean sentiment: -0.051
Std dev:         0.210

,Q2a,sentiment1,Q2b,sentiment2
61,Overworked,0.0000,Underpaid,0.0000
67,low compensation,-0.2732,burn-out,0.0000
89,Lack of new recruits,-0.3182,Low pay for hours worked,-0.3612
194,Recognition,0.0000,No platform to share knowledge,0.0000
203,Lack of embryologists,-0.3182,High burn out,0.0000
204,Regulation,0.0000,Standardization,0.0000
250,Professional burnout,0.0000,Lack of career opportunities li,0.0772
291,Dated equipment,0.0000,Staffing,0.0000
321,lack of qualified new staff,-0.3182,uneven workload,0.0000
413,LACK OF UNDERSTANDING OF THE JOB OUTSIDE OF THE LAB,-0.3182,MAINTAINING AN ADEQUATE STAFFING LEVEL AT ALL TIMES,0.2263
639,lack of recognition,-0.3182,training facilities,0.0000
640,Recognition,0.0000,Respect,0.4767
687,?,0.0000,?,0.0000
783,Need standardized certification,0.0000,Sharing of techniques,0.4215
901,Uncomfortable schedule,-0.3818,Too many weekends,0.0000
992,no recognition,-0.2960,thankless job,0.0000
1006,Mental health due to workload and high stress work,-0.4215,Physical health due to nature of working in laboratory,0.0000
1020,lack of structured program for training,-0.3182,high stress level,-0.4215
1029,Not enough trained staff,0.0000,High turn over,0.0000
1030,finding young embryologist with amazing work ethics,0.5859,having enough mentor for young embryologist,0.0000
1042,burn out,0.0000,over worked,0.0000
1096,stress,-0.4215,uniform standards,0.0000
1203,Not enough employees,0.0000,Workload,0.0000

Mean sentiment: -0.059
Std dev:         0.209

,Q3a,sentiment1,Q3b,sentiment2
61,More embryologists,0.0000,Better pay,0.3612
67,"better compensation in terms of salary, profit sharing",0.8225,"people management and leadership trainings for the laboratory supervisors, managers and director",0.0000
89,Higher pay,-0.1027,More people,0.0000
194,Adequate staff in the lab,0.2263,A fixed timeline to get trained & gain experience in order to go higher up in the hierarchy,0.5267
203,Better working environment in lab,0.4404,Improved communication between departments including embryology,0.4767
204,Regulation of practice,0.0000,Standardization,0.0000
250,Support life/work balance,0.4019,Engage for professional development,0.3400
291,Budget for new equipment,0.0000,Staffing of personnel to alleviate workload - admin. lab assistant,0.0000
321,more staff,0.0000,more control over scheduling of cycles,0.0000
413,HAVING A BIGGER VOICE WITHIN THE INSTITUTION/PROFESSION,0.0000,"A BETTER UNDERSTAINDING OF THE JOB BY PHYSICIANS/BUSINESS MANAGERS, ETC.",0.4404
639,more staff,0.0000,better equipment,0.4404
640,Respect and recognition from clinicians,0.4767,Acknowledge difficult work conditions,-0.3612
687,"Award, recognition",0.5423,Incentives,0.3182
783,"Increased staffing, reduced workload",0.2732,Reduce RSIs,0.0000
901,More opportunities,0.4391,Open and good mindset of all colleagues,0.4404
992,should be recognized,0.0000,count on there contributions,0.0000
1006,Hire more embryologist,0.0000,Team building exercises,0.0000
1020,properly staff/ control on the cycle number,0.0772,better conpensation,0.4404
1029,Hire appropriate staff for workload,0.0000,Hire trained staff,0.0000
1030,Better communication with physician about time pressures.,0.1531,having adequate space to work,0.2263
1042,better work life balance,0.4404,balanced workload,0.0000
1096,more staff,0.0000,consistent work-load,0.0000
1203,More staff,0.0000,Coordinator to spread cycles efficiently,0.4019

Mean sentiment:  0.179
Std dev:         0.243

,Q4,sentiment
61,Be the best I can at the job I do to provide patients with best possible care,0.9118
67,attain my PhD. become a consultant Reproductive scientist. dive into teaching. establish an embryology training center.,0.0000
89,Retirement,0.0000
194,Head a IVF unit & apply latest advancements in a clinical setting to hep smoothen the path of parenthood.,0.0000
203,Supervisor,0.0000
204,Contribute to the advancement of new technologies to improve ART outcomes through clinical research,0.4404
250,Career change,0.0000
291,Continuing education,0.0000
321,to retire,0.0000
413,N/A,0.0000
639,work until retirement,0.0000
640,Retired,0.0000
687,PhD,0.0000
783,"Continue to improve the culture at my clinic, possibly get into regulatory work",0.4404
901,"Want to do PhD in a good university and get certified by all board embryology associations , overall want to be best at my work",0.8271
992,none,0.0000
1006,Become laboratory director,0.0000
1020,Become the scientific director for a network of clinics,0.0000
1029,Train all staff to do all procedures and paperwork so I can retire!,0.0000
1030,complete my PhD and become Scientific lab Director,0.0000
1042,Continue to be a senior embryologist,0.0000
1096,do more basic science research,0.0000
1203,Train new staff so I can retire,0.0000

Mean sentiment:  0.114
Std dev:         0.270

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can)  0.300000  0.300000  0.300000  0.300000
6        SouthAm  0.100000  0.100000  0.100000  0.100000
7       SSAfrica  0.200000  0.200000  0.200000  0.200000
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.6 North America (USA+Canada)

In [293]:
nausa_df = df[df["Category 1: Continent"].isin(["North America (USA and Canada)"])]
analyse_verbatims(5, nausa_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
56,Lack of staff,-0.3182,Burnout derived from lack of staff,-0.3182
91,Overworked,0.0000,Understaffed,0.0000
119,Too much work,0.0000,Short staffed,0.0000
122,Short staffing,0.0000,Work load,0.0000
154,understaff,0.0000,lack of training,-0.3182
...,...,...,...,...
1233,Burnout,0.0000,Understaffing,0.0000
1234,Fatigue,-0.2500,Lack of recognition,-0.3182
1235,Understaffing,0.0000,Way too many hours worked,0.0000
1236,Patient workload,0.0000,Work stress,-0.4215
1240,Lack of consideration by MDs,-0.3182,Understaffing,0.0000

Mean sentiment: -0.078
Std dev:         0.220

,Q2a,sentiment1,Q2b,sentiment2
56,Stress,-0.4215,Burnout,0.0000
91,Overworked,0.0000,Understaffed,0.0000
119,Not enough staff for workload,0.0000,Underpaid,0.0000
122,Short staffing,0.0000,Pay,-0.1027
154,furthering careers,0.0000,advanced age in the lab,0.2500
...,...,...,...,...
1233,Demanding schedules,-0.2263,Lack of trained workforce,-0.3182
1234,Stress,-0.4215,Lack of support,0.1027
1235,Understaffing,0.0000,Way too many hours worked,0.0000
1236,Work stress,-0.4215,Lack of time off,-0.3182
1240,Undervalued,0.0000,Underpaid,0.0000

Mean sentiment: -0.057
Std dev:         0.217

,Q3a,sentiment1,Q3b,sentiment2
56,"It really comes down to the Director of the center, but to hire more staff",0.0000,Provide flexible schedules for embryologist as well as a planned out vacation system for lab staff,0.4588
91,Rotate daily duties,0.0000,Use Per Diem help when needed,0.4019
119,Hire more staff,0.0000,Provide proper training,0.0000
122,More support from management in regards to work load and staffing,0.4576,Increased pay,0.1779
154,...,0.0000,...,0.0000
...,...,...,...,...
1233,Proper staffing,0.0000,Proper compensation,0.0000
1234,Better support from doctors,0.6808,Work fewer weekends,0.0000
1235,Staff appropriately,0.0000,Cap number of hours worked,0.0772
1236,Hire more personel,0.0000,Better benifits,0.4404
1240,Staffing guidelines/rules,0.0000,Educational guidelines and rules,0.0000

Mean sentiment:  0.135
Std dev:         0.218

,Q4,sentiment
56,Become IVF lab director and author publications,0.0000
91,Move to an IVF Industry,0.0000
119,Stay employed at current employer until retirement,0.0000
122,Maintain a career as a successful embryologist,0.5859
154,...,0.0000
...,...,...
1233,Have a position that uses my knowledge but has a flexible schedule. Possibly training or sales position,0.3291
1234,I have reached senior status,0.1027
1235,To get out of embryology,0.0000
1236,To retire,0.0000
1240,Retire with money in the bank,0.0000

Mean sentiment:  0.110
Std dev:         0.277

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can) -0.078252 -0.057447  0.134797  0.109998
6        SouthAm  0.100000  0.100000  0.100000  0.100000
7       SSAfrica  0.200000  0.200000  0.200000  0.200000
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.7 South America

In [297]:
sa_df = df[df["Category 1: Continent"].isin(["South America"])]
analyse_verbatims(6, sa_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
20,Biopsy,0.0000,Icsi,0.0000
23,Pression,0.0000,Rare free days,0.5106
24,Daily work hours and weekends,0.0000,Salary,0.0000
36,A good salary,0.4404,Overtime in the working day,0.0000
45,TRUST,0.5106,Long work routines,0.0000
...,...,...,...,...
1048,laboratory quality control and service quality improvements,0.3182,work together with the medical group,0.0000
1050,Wage,0.0000,Participación un congress,0.0000
1059,Training,0.0000,Place to work,0.0000
1241,Access to knowledge about QC / QA and the tools to apply them,0.0000,Learning embryo biopsy,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000

Mean sentiment:  0.008
Std dev:         0.201

,Q2a,sentiment1,Q2b,sentiment2
20,People,0.000,Dinâmic,0.0000
23,Recognition,0.000,Salary,0.0000
24,Higher recognition,0.000,Higher salaries,0.0000
36,"Undervalued profession, regarding the responsibility it implies.",0.000,Few job offers in your country.,0.0000
45,Sacrifice,0.000,Family,0.0000
...,...,...,...,...
1048,the high expectations that patients and doctors have about the techniques we perform,0.000,The pressure of rapid technological changes: discerning the value of them,0.0516
1050,Wage,0.000,Equality,0.0000
1059,.,0.000,.,0.0000
1241,Earn a salary according to the profession,0.000,Professional recognition,0.0000
1255,There are no university programs for embryologiests,-0.296,costs to be trained abroad,0.0000

Mean sentiment: -0.031
Std dev:         0.202

,Q3a,sentiment1,Q3b,sentiment2
20,Psycology,0.0000,Dinâmic group,0.0000
23,Base and high salary,0.0000,Free weekends,0.5106
24,Higher salaries,0.0000,Flexibility In the laboratory,0.3400
36,establish a real commitment and communication between doctors and embryologists in the workplace.,0.3818,involving the embryologist every day to participate in more activities outside the in vitro laboratory,0.0000
45,that we can attend more congresses and with help,0.4019,improve salary,0.4404
...,...,...,...,...
1048,no restrictions on the use of disposable materials and media,-0.2960,share responsibilities between physians and embryologists,0.2960
1050,Increases wages,0.0000,Continuous training programs,0.0000
1059,Salary,0.0000,Training,0.0000
1241,Improve access to training,0.4404,Improve wages,0.4404
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.143
Std dev:         0.231

,Q4,sentiment
20,becoming an embryologist always better than before,0.4404
23,Be a recognized embryologist in the world,0.0000
24,Higher salary,0.0000
36,Train more embryologists.,0.0000
45,"improve every day, new techniques and equipment so that our work is optimal",0.6597
...,...,...
1048,Give the best service,0.6369
1050,To be internacional Consultant,0.0000
1059,.,0.0000
1241,Have the best reproductive results in my country,0.6369
1255,being able to help our patients,0.4019

Mean sentiment:  0.168
Std dev:         0.279

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can) -0.078252 -0.057447  0.134797  0.109998
6        SouthAm  0.008454 -0.031203  0.143214  0.167738
7       SSAfrica -0.090921 -0.079295  0.140767  0.287852
8  SSAfrica (SA)  0.300000  0.300000  0.300000  0.300000

### 2.8 Sub-Saharan Africa

In [361]:
ssa_df = df[df["Category 1: Continent"].isin(["Sub-Saharan Africa"])]
analyse_verbatims(7, ssa_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
53,Little or no day off alloted,-0.2315,Employer doubting one's working ability,-0.0258
60,Burnout,0.0000,Lack of New Technologies,-0.3182
125,increase in work load,0.3182,lack of staffs,-0.3182
127,Undermining the competence level of the embryologist by the clinician,-0.3612,Embryologist are not involved in decisions making with regards to the client preparation,0.0000
128,Work overload,-0.3612,Low salary,-0.2732
165,less equipment,0.0000,low salary,-0.2732
168,Retraining are expensive,0.0000,Sponsorship for conference and scientific program not available,0.0000
181,give best results in every month,0.6369,to convene clinicians,0.0000
293,Work load,0.0000,Renumeration,0.0000
330,Interference by clinicians in lab issues,0.0000,None,0.0000
398,Lack of funds for training opportunities,0.0772,Lack of encouragement for research,0.1280
411,Lack of new equipment,-0.3182,Lack Calibration equipment,-0.3182
428,deal with everyday work,0.0000,relations with doctors,0.0000
453,Takes all the blame for negative pregnancy test resy,-0.7269,Burnout,0.0000
499,low pay,-0.3612,un appreciated by clinicians,0.5106
590,Stress,-0.4215,Emphasis on target rather than value addition,0.3400
635,Scientific decision making against Clinical stands,0.0000,Clinical influences on the gamates (oocytes) quality,0.0000
654,undefined career development path,0.0000,poor salary scale/ no official recognition as Clinical Embryologist,-0.6486
657,No official recognition as Clinical Embryologist,-0.2960,Poor salary/ no professional development ladder,-0.6486
756,Clinician Dominance,0.2023,Inadequate payment,-0.4019
757,Working for a very long time,0.0000,Stress,-0.4215
795,Responsibility of ensuring patients with cryopreserved samples honour the payment of their annual renewal storage charges/fees.,0.7003,Undue long working,0.0000
802,Lack of full technology,-0.3182,Shortage of time,-0.2500
833,Lack of professional recognition in the clinical space,-0.3182,Quackery resulting from too much locum services,0.0000
989,Salary satisfaction,0.4404,Career development,0.0000
1004,insufficient research,0.0000,insufficient funding,0.0000
1056,Poor quality gametes and the clinician expects 100 % success rates,0.1531,Clinician blaming the Embryologist If bhcg negative,-0.7845
1058,Low payment,-0.2732,Low respect for Juniors,0.2500
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612

Mean sentiment: -0.091
Std dev:         0.305

,Q2a,sentiment1,Q2b,sentiment2
53,Unfavourable working conditions,0.0000,Short-staffed,0.0000
60,Burnout,0.0000,Slow adaptation to new technologies,0.0000
125,lack of more training center for study,-0.3182,increase in work load,0.3182
127,We have no regulations body for embryologists in my count,-0.2960,The gynecologist doesn’t respect the embryo since all the ivf centers are private owned,0.4767
128,Work overload,-0.3612,Insufficient vacation time,0.0000
165,no scholarship for student in the field to further,-0.2960,no access to research papers,-0.2960
168,Knowledge updates are expensive,0.0000,Programs are expensive to study further,0.0000
181,shortage of skilled professionals,-0.2500,lack of proper hands on training,-0.3182
293,Much work load,0.0000,Poor Welfare,-0.4767
330,None,0.0000,None,0.0000
398,No proper regulations for professionals,-0.2960,Lack of funds for adequate training,-0.1027
411,Recognition by doctors as a pivot in IVF process,0.0000,Low pay,-0.3612
428,doctors,0.0000,how the government recognises us,0.0000
453,Burnout,0.0000,Lack of time for self and family,-0.3182
499,long work hours,0.0000,lack of opportunities for reskilling,0.0772
590,Hardly have the time to read publication,0.0000,Private practice pp,0.0000
635,Burden of proof that results are not your making,-0.4404,Decisions on embryo transfers policies.,0.0000
654,official recognition,0.0000,assessable post graduate professional and academic training,0.0000
657,Poor/ no official recognition as Clinical Embryologist,-0.2960,Poor salary scale in my center,-0.4767
756,Work dependency,0.0000,Too much working time,0.0000
757,Lack of recognition,-0.3182,Low salaries,-0.2732
795,Ethical concerns,0.5106,Lack of regulations,-0.3182
802,Too many providers,0.0000,Freelancing,0.1027
833,Standardized and affordable educational training,0.0000,Career structure not available on a national template,0.0000
989,Career development,0.0000,Research support,0.4019
1004,expensive training,0.0000,insufficient funding,0.0000
1056,Lack of recognition,-0.3182,Paid low,-0.2732
1058,No Regulations of work,-0.2960,Limited skills development centers in the country,-0.2263
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404

Mean sentiment: -0.079
Std dev:         0.225

,Q3a,sentiment1,Q3b,sentiment2
53,Allot days for the embryologist to rest,0.0000,Batch cycles as opposed to daily/weekly treatments,0.0000
60,More embryologist,0.0000,Better technology,0.4404
125,provision of more training centers for embryology study,0.0000,introduction of more staffs,0.0000
127,The involvement in the day activities with regards to the patient preparation for the procedure,0.0000,Regular training to improve the efficiency and effectiveness of the embryologist in the country,0.6597
128,Proper planning of cases and effective communication.,0.4767,Good pay for work done,0.3612
165,give fundings to less priveledge embryologists for studies and research,0.0000,make more journals accessible,0.0000
168,Sponsored training and retraining,0.0000,Research sponsored,0.0000
181,clinicians should take suggestions before take final decision,0.0000,by recognising role of embryologist in IVF treatment,0.0000
293,Employed more staff,0.0000,Better renumeration,0.4404
330,Embryologists decisions should be respected by clinicians,0.4767,None,0.0000
398,Provisions of training funds to interested individuals,0.4019,Proper renumeration,0.0000
411,Increase pay for work done,0.2263,Better institutions to regulate IVF process,0.4404
428,to make us worth it by not accepting all the conditions,-0.0731,to fight for our wills,-0.3818
453,More staff,0.0000,Timeoff,0.0000
499,Networking and forming embryology societies to guide practice.,0.0000,training and reskilling,0.0000
590,Embryologist should be appreciated,0.5106,Renumeration,0.0000
635,Professional bodies to protect the embryologists decision,0.3818,Allow the embryologist to determine how much work they can carry.,0.2263
654,National regulation,0.0000,scholarship to support post graduate academic training and qualification,0.4019
657,National Regulatory authority should be established.,0.0772,"Batching IVF should be cancelled, clear professional career paths should be domesticated",0.1531
756,Proper teamwork,0.0000,Proper payment structure,0.0000
757,Improve salaries,0.4404,Hospitals should sponsor conferences,0.0000
795,Embryologists must agree to have a flexible work schedule especially on days when there are no IVF cases,0.2960,Risk allowances must be included into overall salary structure of the embryologist,-0.2732
802,Full time fully qualified and trained embrylogists,0.0000,Focussed jobs,0.0000
833,Standardized remuneration package along with recognize structure,0.0000,"Encourage more embryologist into post graduate programs (MSC, PhD",0.5106
989,Continuous learning,0.0000,Motivation for development,0.3400
1004,more sponsorship,0.0000,more research,0.0000
1056,Clinician to review their patients well,0.2732,Clinician not to pressurise the Embryologist...as Embryologist r not God to give 100 % success,0.5155
1058,Need for a regulating body,0.0000,Setting up more training centers in the country,0.0000
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019

Mean sentiment:  0.141
Std dev:         0.226

,Q4,sentiment
53,To help couples who struggle with infertility become parents and bring joy into their homes,0.6369
60,To become a Chief Scientific Director of a chain,0.0000
125,TO become a clinical embryologist in time to come,0.0000
127,An outstanding fertility specialist,0.6124
128,Become the laboratory director and quality control director of an embryology laboratory. Be a National decision maker in ART.,0.0000
165,to be able to improve human existence with assisted reproductive procedures,0.4404
168,To provide first class services to patients,0.0000
181,to maintain high success rates,0.5719
293,To become a professional clinical embryologist,0.0000
330,To assist in getting at least 1000 babies being born from IVF/ICSI procedures,0.0000
398,To be a solution source in my chosen career,0.3182
411,Have the best IVF Centre in East Africa having top cream equipment and best human resource for the while IVF process.,0.8807
428,to survive,0.0000
453,"A skilled, certified and professional embryologist",0.0000
499,To practice evidence based embryology to the satisfaction of clients.,0.4404
590,To compete favourably with international contemporary in delivering best international practices in the field of embryology,0.6369
635,Retire at 55years and go into academic/scientific research.,0.0000
654,to improve ART treatment outcome through my expertise,0.4404
657,To assist infertile couple to optimize their reproductive potential with my expertise.,0.4939
756,To become one of the best Embryologist,0.6369
757,Teaching,0.0000
795,I am aiming to become a consultant embryologist,0.0000
802,To be the best in my region and have the highest pregnancy and live birth rates. To incorporate the latest equipment and technology.,0.6369
833,"Bag a PhD in reproductive science, engage in clinical research and provide enabled mentorship to young embryologist through tutoring",0.3400
989,Excellence,0.6249
1004,To be a world class embryologist,0.0000
1056,To be consultant Embryologist,0.0000
1058,Becoming one of the best embryologist in my country and train more embryologist.,0.6369
1246,be ART researcher.,0.0000

Mean sentiment:  0.288
Std dev:         0.301

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can) -0.078252 -0.057447  0.134797  0.109998
6        SouthAm  0.008454 -0.031203  0.143214  0.167738
7       SSAfrica -0.090921 -0.079295  0.140767  0.287852
8  SSAfrica (SA) -0.052014 -0.061212  0.172014  0.251500

### 2.9 Sub-Saharan Africa (South Africa)

In [362]:
# Next line returns an empty set, needs checking. As a workaround we can filter using different field
# ssasa_df = df[df["Category 1: Continent"].isin(["Sub-Saharan Africa (South Africa)"])]
ssasa_df = df[df["In what country do you practice clinical embryology?"].isin(["South Africa"])]
analyse_verbatims(8, ssasa_df, cont_results_df)
cont_results_df

,Q1a,sentiment1,Q1b,sentiment2
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
10,Recognition of our contribution in the ART field,0.0000,Workload,0.0000
11,Time managment,0.0000,Long hours,0.0000
...,...,...,...,...
1250,Low Salaries,-0.2732,Working weekends,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000
1254,limited staff,-0.2263,doctors,0.0000

Mean sentiment: -0.052
Std dev:         0.240

,Q2a,sentiment1,Q2b,sentiment2
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
10,Inferior treatment by Clinicians,-0.4019,Workload,0.0000
11,Lack of respect,0.2023,Having to make do with bare min equipment,0.0000
...,...,...,...,...
1250,Not closing over December,0.0000,Low Salaries,-0.2732
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salary,-0.2732,Weekend and holiday work,0.4019
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818

Mean sentiment: -0.061
Std dev:         0.261

,Q3a,sentiment1,Q3b,sentiment2
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
10,Awareness by Clinic owners,0.0000,Educate us how to successfully get what we are asking for,0.4939
11,Bigger budget for new equipment,0.0000,avoidance of working both days on weekends,-0.4019
...,...,...,...,...
1250,Higher salaries,0.0000,Closing over December,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263

Mean sentiment:  0.172
Std dev:         0.260

,Q4,sentiment
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
8,"to run an independant practice, be a partner and not an employee",0.0000
10,This is more of an aspiration - I want my unit to be the best in the country,0.6705
11,Done it,0.0000
...,...,...
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351
1251,Dont make a big mistake,0.2584
1252,Make babies and make people happy.,0.5719
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000

Mean sentiment:  0.252
Std dev:         0.347

       Continent        Q1        Q2        Q3        Q4
0          Asian -0.036344 -0.033745  0.151976  0.284547
1            ANZ -0.101317 -0.062772  0.133450  0.181388
2             EU -0.038519 -0.010884  0.117218  0.169275
3       Mid East -0.018551 -0.038200  0.128752  0.203658
4        NorthAm -0.051093 -0.058659  0.179170  0.113900
5   NA (USA+Can) -0.078252 -0.057447  0.134797  0.109998
6        SouthAm  0.008454 -0.031203  0.143214  0.167738
7       SSAfrica -0.090921 -0.079295  0.140767  0.287852
8  SSAfrica (SA) -0.052014 -0.061212  0.172014  0.251500

### Show heatmap

In [363]:
import seaborn as sns
cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = cont_results_df.style.background_gradient()
s

| Q                 | Female   | Male| Average |
| :---------------- | :------: | ----: | ----: |
| Q1a               |   -0.047  | -0.037 | -0.045 |
| Q1b               |   -0.048  | -0.054 | -0.051 |
| Q2a               |   -0.031  | -0.040 | -0.035 |
| Q2b               |   -0.042  | -0.024 | -0.038 |
| Q3a               |   0.125   | 0.128 | 0.126 |
| Q3b               |   0.150   | 0.145 | 0.148 |
| Q4               |   0.190   | 0.213 | 0.198 |

## 3. Gender

In [369]:
gender_results = {'Gender': ['Male', 'Female'],
        'Q1': [0.1, 0.2],
        'Q2': [0.1, 0.2],
        'Q3': [0.1, 0.2],
        'Q4': [0.1, 0.2]}
gender_results_df = pd.DataFrame.from_dict(gen_results)

In [370]:
gender_results_df

   Gender   Q1   Q2   Q3   Q4
0    Male  0.1  0.1  0.1  0.1
1  Female  0.2  0.2  0.2  0.2

### 3.1 Male

In [344]:
male_df = df[df["Gender"].isin(["Male"])]
analyse_verbatims(0, male_df, gender_results_df)
gender_results_df

,Q1a,sentiment1,Q1b,sentiment2
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
9,lack of leadership,-0.3182,burnout,0.0000
13,work overload,-0.3612,No/less support from clinicians,0.4019
14,Time spent at work,0.0000,Money for new quipment,0.0000
...,...,...,...,...
1241,Access to knowledge about QC / QA and the tools to apply them,0.0000,Learning embryo biopsy,0.0000
1244,"Motivation (stress, burnout)",0.3400,Getting the work done,0.0000
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612
1247,Too many cases per embryologist,0.0000,Not enough off-time,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000

Mean sentiment: -0.045
Std dev:         0.244

,Q2a,sentiment1,Q2b,sentiment2
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
9,managment,0.0000,AI,0.0000
13,Poor salary,-0.4767,Expected to work hard and give good results,0.3612
14,Low salary,-0.2732,Stress,-0.4215
...,...,...,...,...
1241,Earn a salary according to the profession,0.0000,Professional recognition,0.0000
1244,Safety in the lab,0.4215,Deliver quality,0.0000
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404
1247,Continuous skill development,0.0000,Not enough staff,0.0000
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000

Mean sentiment: -0.032
Std dev:         0.236

,Q3a,sentiment1,Q3b,sentiment2
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
9,train managers to lead and not manage,0.0000,recognition,0.0000
13,Constant support form clinicians,0.4019,Increase salaries or pay better and relative to the workload,0.5859
14,More staff,0.0000,more off time,0.0000
...,...,...,...,...
1241,Improve access to training,0.4404,Improve wages,0.4404
1244,even distribution of work,0.0000,provide sufficient staff,0.0000
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019
1247,More staff to allow more personal time,0.2878,More opportunities to better our knowledge,0.7233
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.136
Std dev:         0.229

,Q4,sentiment
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
9,have a happy team,0.5719
13,To achieve high position and personal development (lab director or chief technologist),0.0000
14,Best success rate to promote our clinic,0.8885
...,...,...
1241,Have the best reproductive results in my country,0.6369
1244,PhD,0.0000
1246,be ART researcher.,0.0000
1247,To be the best embryologist I can be to the patients.,0.6369
1255,being able to help our patients,0.4019

Mean sentiment:  0.213
Std dev:         0.307

   Gender        Q1       Q2        Q3        Q4
0    Male -0.045247 -0.03162  0.136469  0.212677
1  Female -0.047248 -0.03609  0.137173  0.189534

### 3.1 Female

In [345]:
female_df = df[df["Gender"].isin(["Female"])]
analyse_verbatims(1, female_df, gender_results_df)
gender_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
3,burnout/stress,0.0000,poor management,-0.4767
4,Recognizion,0.0000,Trust,0.5106
6,General workplace politics,0.0000,Internal Pressure,-0.2960
...,...,...,...,...
1250,Low Salaries,-0.2732,Working weekends,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000
1254,limited staff,-0.2263,doctors,0.0000

Mean sentiment: -0.047
Std dev:         0.240

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
2,Access to training,0.0000,Certification,0.0000
3,not enough highly trained staff,0.0000,politics,0.0000
4,Handson training,0.0000,Trust,0.5106
6,Undervalued,0.0000,Underpaid,0.0000
...,...,...,...,...
1250,Not closing over December,0.0000,Low Salaries,-0.2732
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salary,-0.2732,Weekend and holiday work,0.4019
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818

Mean sentiment: -0.036
Std dev:         0.234

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
3,better pay,0.3612,better CPD opportunities,0.6705
4,Good laboratory training,0.4404,Troubleshooting,0.1779
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
...,...,...,...,...
1250,Higher salaries,0.0000,Closing over December,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263

Mean sentiment:  0.137
Std dev:         0.232

,Q4,sentiment
0,Continue,0.0000
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
3,FRCPath,0.0000
4,Be confident in the work i do Academically strong,0.7579
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
...,...,...
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351
1251,Dont make a big mistake,0.2584
1252,Make babies and make people happy.,0.5719
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000

Mean sentiment:  0.190
Std dev:         0.306

   Gender        Q1       Q2        Q3        Q4
0    Male -0.045247 -0.03162  0.136469  0.212677
1  Female -0.047248 -0.03609  0.137173  0.189534

### Show heatmap

In [364]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = gender_results_df.style.background_gradient()
s

## 4. World bank classification

In [407]:
WBclass_results = {'World bank classification': ['High-income economies', 'Upper-middle-income economies', \
                                                 'Lower-middle-income economies', 'Low-income economies' ],
        'Q1': [0.1, 0.2, 0.3, 0.4],
        'Q2': [0.1, 0.2, 0.3, 0.4],
        'Q3': [0.1, 0.2, 0.3, 0.4],
        'Q4': [0.1, 0.2, 0.3, 0.4]}
WBclass_results_df = pd.DataFrame.from_dict(WBclass_results)
WBclass_results_df

       World bank classification   Q1   Q2   Q3   Q4
0          High-income economies  0.1  0.1  0.1  0.1
1  Upper-middle-income economies  0.2  0.2  0.2  0.2
2  Lower-middle-income economies  0.3  0.3  0.3  0.3
3           Low-income economies  0.4  0.4  0.4  0.4

In [397]:
hie_df = df[df["Category 2: World bank classification"].isin(['High-income economies '])]
analyse_verbatims(0, hie_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
3,burnout/stress,0.0000,poor management,-0.4767
9,lack of leadership,-0.3182,burnout,0.0000
...,...,...,...,...
1237,oocyte vitrification,0.0000,more sophisticated witnessing - software etc.,0.5984
1238,Quality control,0.0000,Work pressure,-0.2960
1240,Lack of consideration by MDs,-0.3182,Understaffing,0.0000
1244,"Motivation (stress, burnout)",0.3400,Getting the work done,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000

Mean sentiment: -0.059
Std dev:         0.230

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
2,Access to training,0.0000,Certification,0.0000
3,not enough highly trained staff,0.0000,politics,0.0000
9,managment,0.0000,AI,0.0000
...,...,...,...,...
1237,AI for embryo - selection,0.0000,NiPGT,0.0000
1238,Quality management control,0.0000,Quality management assurance,0.3400
1240,Undervalued,0.0000,Underpaid,0.0000
1244,Safety in the lab,0.4215,Deliver quality,0.0000
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000

Mean sentiment: -0.032
Std dev:         0.221

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
3,better pay,0.3612,better CPD opportunities,0.6705
9,train managers to lead and not manage,0.0000,recognition,0.0000
...,...,...,...,...
1237,IVF lab facility,0.0000,good collective,0.4404
1238,Administrative simplification,0.0000,Clinic-laboratory communication,0.0000
1240,Staffing guidelines/rules,0.0000,Educational guidelines and rules,0.0000
1244,even distribution of work,0.0000,provide sufficient staff,0.0000
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.128
Std dev:         0.223

,Q4,sentiment
0,Continue,0.0000
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
3,FRCPath,0.0000
9,have a happy team,0.5719
...,...,...
1237,I am satisfied :-),0.6249
1238,Senior clinical embryologist,0.0000
1240,Retire with money in the bank,0.0000
1244,PhD,0.0000
1255,being able to help our patients,0.4019

Mean sentiment:  0.150
Std dev:         0.289

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058991 -0.031771  0.128162  0.149908
1  Upper-middle-income economies  0.200000  0.200000  0.200000  0.200000
2  Lower-middle-income economies  0.300000  0.300000  0.300000  0.300000
3           Low-income economies  0.400000  0.400000  0.400000  0.400000

In [398]:
umie_df = df[df["Category 2: World bank classification"].isin(['Upper-middle-income economies'])]
analyse_verbatims(1, umie_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
10,Recognition of our contribution in the ART field,0.0000,Workload,0.0000
11,Time managment,0.0000,Long hours,0.0000
...,...,...,...,...
1250,Low Salaries,-0.2732,Working weekends,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000
1254,limited staff,-0.2263,doctors,0.0000

Mean sentiment: -0.025
Std dev:         0.230

,Q2a,sentiment1,Q2b,sentiment2
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
10,Inferior treatment by Clinicians,-0.4019,Workload,0.0000
11,Lack of respect,0.2023,Having to make do with bare min equipment,0.0000
...,...,...,...,...
1250,Not closing over December,0.0000,Low Salaries,-0.2732
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salary,-0.2732,Weekend and holiday work,0.4019
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818

Mean sentiment: -0.048
Std dev:         0.236

,Q3a,sentiment1,Q3b,sentiment2
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
10,Awareness by Clinic owners,0.0000,Educate us how to successfully get what we are asking for,0.4939
11,Bigger budget for new equipment,0.0000,avoidance of working both days on weekends,-0.4019
...,...,...,...,...
1250,Higher salaries,0.0000,Closing over December,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263

Mean sentiment:  0.144
Std dev:         0.236

,Q4,sentiment
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
8,"to run an independant practice, be a partner and not an employee",0.0000
10,This is more of an aspiration - I want my unit to be the best in the country,0.6705
11,Done it,0.0000
...,...,...
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351
1251,Dont make a big mistake,0.2584
1252,Make babies and make people happy.,0.5719
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000

Mean sentiment:  0.219
Std dev:         0.313

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058991 -0.031771  0.128162  0.149908
1  Upper-middle-income economies -0.025155 -0.048004  0.143765  0.218776
2  Lower-middle-income economies  0.300000  0.300000  0.300000  0.300000
3           Low-income economies  0.400000  0.400000  0.400000  0.400000

In [399]:
lmie_df = df[df["Category 2: World bank classification"].isin(['Lower-middle-income economies '])]
analyse_verbatims(2, lmie_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
4,Recognizion,0.0000,Trust,0.5106
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
25,Employees shortage,-0.2500,Untrained staff,0.0000
39,Little black of communication with clinical team,0.0000,Working hours,0.0000
44,Stress,-0.4215,trouble shoot,-0.6249
...,...,...,...,...
1158,Results,0.0000,Waiting time,0.0000
1159,Day-5 blastocyst formation,0.0000,Thawed semen sample preparation,0.0000
1160,Interference of the clinician,0.0000,No credits for positives,0.5719
1161,Number of cases,0.0772,Quality Management,0.0000
1162,Male partners issue,0.0000,Supplies!,0.0000

Mean sentiment: -0.042
Std dev:         0.274

,Q2a,sentiment1,Q2b,sentiment2
4,Handson training,0.0000,Trust,0.5106
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
25,Oocyte quality,0.0000,Implantation even after everything is good,0.4404
39,Time at workplace,0.0000,Little stress for achieving better outcome,0.1010
44,stress,-0.4215,results,0.0000
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Thawed embryos results,0.0000,D-5 blastocyst formation or grading,0.0000
1160,Full time responsibility without any holidays,-0.2924,Paid less,0.0000
1161,Number of cases,0.0772,Quality Management,0.0000
1162,I don’t think so!,0.0000,No issues,-0.2960

Mean sentiment: -0.039
Std dev:         0.262

,Q3a,sentiment1,Q3b,sentiment2
4,Good laboratory training,0.4404,Troubleshooting,0.1779
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
25,Should be adequate staff,0.2263,Time flexibility,0.3400
39,Good communication with team,0.4404,Fixed working hours and open discussion,0.0000
44,diluting the work load,0.0000,Stress relief,0.0772
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Avoid exposure of embryos as much you can,-0.2960,Assess embryos on day0- day1 and then on day 3 or 5 only,0.0000
1160,Definite working hours,0.2732,Proper trainings,0.0000
1161,Provide optimum number of embryologist depending on the number of cases,0.1531,Software to ease the data maintenance,0.3612
1162,Renumeration,0.0000,Support staff,0.4019

Mean sentiment:  0.151
Std dev:         0.244

,Q4,sentiment
4,Be confident in the work i do Academically strong,0.7579
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
25,To find answers of failed implantation,-0.5106
39,To give my best,0.6369
44,"Academic excellence, lead role, research",0.6249
...,...,...
1158,Embryologist,0.0000
1159,Become a successful scientist,0.5859
1160,To help as many infertile couple as possible & to give them a healthy baby of their own.,0.6597
1161,To become a successful embryologist,0.5859
1162,Perfection!!!,0.6784

Mean sentiment:  0.285
Std dev:         0.318

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058991 -0.031771  0.128162  0.149908
1  Upper-middle-income economies -0.025155 -0.048004  0.143765  0.218776
2  Lower-middle-income economies -0.042376 -0.038700  0.151379  0.284706
3           Low-income economies  0.400000  0.400000  0.400000  0.400000

In [401]:
lie_df = df[df["Category 2: World bank classification"].isin(['Low-income economies '])]
analyse_verbatims(3, lie_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
428,deal with everyday work,0.0000,relations with doctors,0.0000
499,low pay,-0.3612,un appreciated by clinicians,0.5106
635,Scientific decision making against Clinical stands,0.0000,Clinical influences on the gamates (oocytes) quality,0.0000
989,Salary satisfaction,0.4404,Career development,0.0000
1058,Low payment,-0.2732,Low respect for Juniors,0.2500
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612

Mean sentiment:  0.017
Std dev:         0.286

,Q2a,sentiment1,Q2b,sentiment2
428,doctors,0.0000,how the government recognises us,0.0000
499,long work hours,0.0000,lack of opportunities for reskilling,0.0772
635,Burden of proof that results are not your making,-0.4404,Decisions on embryo transfers policies.,0.0000
989,Career development,0.0000,Research support,0.4019
1058,No Regulations of work,-0.2960,Limited skills development centers in the country,-0.2263
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404

Mean sentiment: -0.004
Std dev:         0.227

,Q3a,sentiment1,Q3b,sentiment2
428,to make us worth it by not accepting all the conditions,-0.0731,to fight for our wills,-0.3818
499,Networking and forming embryology societies to guide practice.,0.0000,training and reskilling,0.0000
635,Professional bodies to protect the embryologists decision,0.3818,Allow the embryologist to determine how much work they can carry.,0.2263
989,Continuous learning,0.0000,Motivation for development,0.3400
1058,Need for a regulating body,0.0000,Setting up more training centers in the country,0.0000
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019

Mean sentiment:  0.111
Std dev:         0.257

,Q4,sentiment
428,to survive,0.0000
499,To practice evidence based embryology to the satisfaction of clients.,0.4404
635,Retire at 55years and go into academic/scientific research.,0.0000
989,Excellence,0.6249
1058,Becoming one of the best embryologist in my country and train more embryologist.,0.6369
1246,be ART researcher.,0.0000

Mean sentiment:  0.284
Std dev:         0.318

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058991 -0.031771  0.128162  0.149908
1  Upper-middle-income economies -0.025155 -0.048004  0.143765  0.218776
2  Lower-middle-income economies -0.042376 -0.038700  0.151379  0.284706
3           Low-income economies  0.017117 -0.003600  0.111292  0.283700

### Show heatmap

In [402]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = WBclass_results_df.style.background_gradient()
s

## 5. Type of unit

In [406]:
ToU_results = {'Type of Unit': ['Academic Public Hospitals', 'Private Unit', 'Unit of a Chain'],
        'Q1': [0.1, 0.2, 0.3],
        'Q2': [0.1, 0.2, 0.3],
        'Q3': [0.1, 0.2, 0.3],
        'Q4': [0.1, 0.2, 0.3]}
ToU_results_df = pd.DataFrame.from_dict(ToU_results)
ToU_results_df

                Type of Unit   Q1   Q2   Q3   Q4
0  Academic Public Hospitals  0.1  0.1  0.1  0.1
1               Private Unit  0.2  0.2  0.2  0.2
2            Unit of a Chain  0.3  0.3  0.3  0.3

In [412]:
aph_df = df[df["Category: Place of work"].isin(['Academic public hospital'])]
analyse_verbatims(0, aph_df, ToU_results_df)
ToU_results_df

,Q1a,sentiment1,Q1b,sentiment2
3,burnout/stress,0.0000,poor management,-0.4767
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
9,lack of leadership,-0.3182,burnout,0.0000
15,Workload,0.0000,Underpaid,0.0000
...,...,...,...,...
1240,Lack of consideration by MDs,-0.3182,Understaffing,0.0000
1241,Access to knowledge about QC / QA and the tools to apply them,0.0000,Learning embryo biopsy,0.0000
1242,Increased workload,0.2732,Unpaid overtime and weekend work,0.0000
1245,Burnout,0.0000,Workload,0.0000
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612

Mean sentiment: -0.063
Std dev:         0.229

,Q2a,sentiment1,Q2b,sentiment2
3,not enough highly trained staff,0.0000,politics,0.0000
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
9,managment,0.0000,AI,0.0000
15,Underpayment,0.0000,Lack of recognition,-0.3182
...,...,...,...,...
1240,Undervalued,0.0000,Underpaid,0.0000
1241,Earn a salary according to the profession,0.0000,Professional recognition,0.0000
1242,Major responsibility,0.0000,Not always heard,0.0000
1245,Patient/Society Lack of Knowledge,-0.3182,Lack of recognition,-0.3182
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404

Mean sentiment: -0.058
Std dev:         0.240

,Q3a,sentiment1,Q3b,sentiment2
3,better pay,0.3612,better CPD opportunities,0.6705
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
9,train managers to lead and not manage,0.0000,recognition,0.0000
15,Increase number of embryologists per lab,0.3818,Pay,-0.1027
...,...,...,...,...
1240,Staffing guidelines/rules,0.0000,Educational guidelines and rules,0.0000
1241,Improve access to training,0.4404,Improve wages,0.4404
1242,Overtime to a minimum,0.0000,Mindfullness of weekend work,0.0000
1245,"Guidelines for employers (hours, salary scales, overtime, benefits)",0.0000,Projects/Launches to improve Societal Knowledge about our profession,0.4404
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019

Mean sentiment:  0.143
Std dev:         0.230

,Q4,sentiment
3,FRCPath,0.0000
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
8,"to run an independant practice, be a partner and not an employee",0.0000
9,have a happy team,0.5719
15,Help struggling couples to have family of their own.,-0.0258
...,...,...
1240,Retire with money in the bank,0.0000
1241,Have the best reproductive results in my country,0.6369
1242,I aspire to be a good technical and pratically skilled Embryologist with thorough knowledge and good patient communication and care skills.,0.8402
1245,Becoming the best embryologist I can be by refining my skills and learning more techniques or other skills. I would also like to complete my pHD,0.7717
1246,be ART researcher.,0.0000

Mean sentiment:  0.208
Std dev:         0.335

                Type of Unit        Q1        Q2        Q3        Q4
0  Academic Public Hospitals -0.063179 -0.058399  0.143482  0.208301
1               Private Unit  0.200000  0.200000  0.200000  0.200000
2            Unit of a Chain  0.300000  0.300000  0.300000  0.300000

In [413]:
pu_df = df[df["Category: Place of work"].isin(['Private Unit'])]
analyse_verbatims(1, pu_df, ToU_results_df)
ToU_results_df

,Q1a,sentiment1,Q1b,sentiment2
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
4,Recognizion,0.0000,Trust,0.5106
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
10,Recognition of our contribution in the ART field,0.0000,Workload,0.0000
...,...,...,...,...
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000
1254,limited staff,-0.2263,doctors,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000
1256,,0.0000,,0.0000
1257,,0.0000,,0.0000

Mean sentiment: -0.041
Std dev:         0.243

,Q2a,sentiment1,Q2b,sentiment2
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
4,Handson training,0.0000,Trust,0.5106
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
10,Inferior treatment by Clinicians,-0.4019,Workload,0.0000
...,...,...,...,...
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000
1256,,0.0000,,0.0000
1257,,0.0000,,0.0000

Mean sentiment: -0.033
Std dev:         0.235

,Q3a,sentiment1,Q3b,sentiment2
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
4,Good laboratory training,0.4404,Troubleshooting,0.1779
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
10,Awareness by Clinic owners,0.0000,Educate us how to successfully get what we are asking for,0.4939
...,...,...,...,...
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263
1256,,0.0000,,0.0000
1257,,0.0000,,0.0000

Mean sentiment:  0.133
Std dev:         0.231

,Q4,sentiment
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
4,Be confident in the work i do Academically strong,0.7579
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
10,This is more of an aspiration - I want my unit to be the best in the country,0.6705
...,...,...
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000
1255,being able to help our patients,0.4019
1256,,0.0000
1257,,0.0000

Mean sentiment:  0.194
Std dev:         0.300

                Type of Unit        Q1        Q2        Q3        Q4
0  Academic Public Hospitals -0.063179 -0.058399  0.143482  0.208301
1               Private Unit -0.040890 -0.032674  0.133166  0.194092
2            Unit of a Chain  0.300000  0.300000  0.300000  0.300000

In [414]:
uoc_df = df[df["Category: Place of work"].isin(['Unit of a Chain'])]
analyse_verbatims(2, uoc_df, ToU_results_df)
ToU_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
28,make no mistake,-0.5574,manage time properly,0.0000
35,emotional stress,-0.2960,patients/doctors demands,0.0000
37,Heavy workload,0.0000,Stres,0.0000
...,...,...,...,...
1202,Under staffing,0.0000,Burnout,0.0000
1203,Not enough employees,0.0000,Time off work,0.0000
1218,Burn out,0.0000,Stress,-0.4215
1222,Scheduling,0.0000,Short staffed,0.0000
1227,Clinical work load per embryologist,0.0000,Difficulty to voice suggestions for improvement,0.1531

Mean sentiment: -0.058
Std dev:         0.248

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
2,Access to training,0.0000,Certification,0.0000
28,professional title evaluation,0.0000,paper publishing,0.0000
35,emotional stress,-0.2960,afraid to make a mistake,-0.3400
37,Traveling problems,-0.4019,Mental tired,-0.4404
...,...,...,...,...
1202,Communication with MDs,0.0000,Communication with hospital management,0.0000
1203,Not enough employees,0.0000,Workload,0.0000
1218,Weekend coverage,0.0000,Burn out,0.0000
1222,Life balance,0.0000,Stress levels,-0.4215
1227,Work/personal life balance,0.0000,Poor envolvment on R&D,-0.4767

Mean sentiment: -0.030
Std dev:         0.229

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
28,no,-0.2960,no,-0.2960
35,emotional support,0.5106,financial benefits,0.3818
37,Well programed Work flow,0.2732,Enough personel in IVF lab,0.0000
...,...,...,...,...
1202,More staff,0.0000,More time off to prevent burnout,0.0258
1203,More staff,0.0000,Coordinator to spread cycles efficiently,0.4019
1218,Keeping the # of cases per embryologist at 75,0.0000,Perhaps PRN staffing for weekends.,0.0000
1222,Training more mid level/ junior embryologists,0.0000,Batching/ control of schedule,0.0000
1227,"Limit per embryologist numbers of time consuming procedures (biopsy, Tesa/pesa, egg freeze)",0.0000,Provide help admin/technicians/software,0.4019

Mean sentiment:  0.142
Std dev:         0.233

,Q4,sentiment
0,Continue,0.0000
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
28,lab director,0.0000
35,lab director,0.0000
37,Retired,0.0000
...,...,...
1202,I’ve already achieved it. Management,0.0000
1203,Train new staff so I can retire,0.0000
1218,Currently have reached my goals-continue good work without errors.,0.6526
1222,Lead managerial embryologist,0.0000
1227,Laboratory manager,0.0000

Mean sentiment:  0.199
Std dev:         0.301

                Type of Unit        Q1        Q2        Q3        Q4
0  Academic Public Hospitals -0.063179 -0.058399  0.143482  0.208301
1               Private Unit -0.040890 -0.032674  0.133166  0.194092
2            Unit of a Chain -0.057969 -0.029917  0.142467  0.198997

### Show heatmap

In [415]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = ToU_results_df.style.background_gradient()
s

## 6. Marital status

In [416]:
MS_results = {'Marital status': ['Married or domestic partnership', 'Single, never married', 'Previously Married'],
        'Q1': [0.1, 0.2, 0.3],
        'Q2': [0.1, 0.2, 0.3],
        'Q3': [0.1, 0.2, 0.3],
        'Q4': [0.1, 0.2, 0.3]}
MS_results_df = pd.DataFrame.from_dict(MS_results)
MS_results_df

                    Marital status   Q1   Q2   Q3   Q4
0  Married or domestic partnership  0.1  0.1  0.1  0.1
1            Single, never married  0.2  0.2  0.2  0.2
2               Previously Married  0.3  0.3  0.3  0.3

In [420]:
mdp_df = df[df["Category 4: Marital status"].isin(['Married or domestic partnership'])]
analyse_verbatims(0, mdp_df, MS_results_df)
MS_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
3,burnout/stress,0.0000,poor management,-0.4767
9,lack of leadership,-0.3182,burnout,0.0000
10,Recognition of our contribution in the ART field,0.0000,Workload,0.0000
...,...,...,...,...
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612
1248,sterility,0.0000,accuracy/prevention of errors,-0.3400
1249,Working lots of weekends and public holidays,0.3818,workload,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1254,limited staff,-0.2263,doctors,0.0000

Mean sentiment: -0.039
Std dev:         0.238

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
2,Access to training,0.0000,Certification,0.0000
3,not enough highly trained staff,0.0000,politics,0.0000
9,managment,0.0000,AI,0.0000
10,Inferior treatment by Clinicians,-0.4019,Workload,0.0000
...,...,...,...,...
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404
1248,availability of positions,0.0000,working conditions,0.0000
1249,workload,0.0000,stress,-0.4215
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1254,Salaries,0.0000,Limit work opportunities,0.3818

Mean sentiment: -0.039
Std dev:         0.231

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
3,better pay,0.3612,better CPD opportunities,0.6705
9,train managers to lead and not manage,0.0000,recognition,0.0000
10,Awareness by Clinic owners,0.0000,Educate us how to successfully get what we are asking for,0.4939
...,...,...,...,...
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019
1248,Mon to Fri working hours,0.0000,8 hours per day,0.0000
1249,increased wages (should get paid for weekends + public holidays),0.2732,employ more embryologists,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1254,Better salaries,0.4404,Flexible working hours,0.2263

Mean sentiment:  0.128
Std dev:         0.226

,Q4,sentiment
0,Continue,0.0000
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
3,FRCPath,0.0000
9,have a happy team,0.5719
10,This is more of an aspiration - I want my unit to be the best in the country,0.6705
...,...,...
1246,be ART researcher.,0.0000
1248,Building up of newly found laboratory in remote part of country,0.0000
1249,lab director,0.0000
1251,Dont make a big mistake,0.2584
1254,Laboratory director,0.0000

Mean sentiment:  0.185
Std dev:         0.293

                    Marital status        Q1        Q2        Q3        Q4
0  Married or domestic partnership -0.039489 -0.038979  0.128047  0.184573
1            Single, never married -0.068982 -0.028170  0.156781  0.222148
2               Previously Married       NaN       NaN       NaN       NaN

In [421]:
snm_df = df[df["Category 4: Marital status"].isin(['Single, never married'])]
analyse_verbatims(1, snm_df, MS_results_df)
MS_results_df

,Q1a,sentiment1,Q1b,sentiment2
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
4,Recognizion,0.0000,Trust,0.5106
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
...,...,...,...,...
1243,The overtime work (sudden shifts),0.0000,Constant trouble shooting and little room for error,-0.6293
1247,Too many cases per embryologist,0.0000,Not enough off-time,0.0000
1250,Low Salaries,-0.2732,Working weekends,0.0000
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000

Mean sentiment: -0.069
Std dev:         0.247

,Q2a,sentiment1,Q2b,sentiment2
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
4,Handson training,0.0000,Trust,0.5106
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
...,...,...,...,...
1243,Not paid according to the service done,0.0000,The high risk of burnout,-0.2732
1247,Continuous skill development,0.0000,Not enough staff,0.0000
1250,Not closing over December,0.0000,Low Salaries,-0.2732
1252,Low salary,-0.2732,Weekend and holiday work,0.4019
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023

Mean sentiment: -0.028
Std dev:         0.244

,Q3a,sentiment1,Q3b,sentiment2
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
4,Good laboratory training,0.4404,Troubleshooting,0.1779
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
...,...,...,...,...
1243,Schedule stimulation protocols more accordingly,0.0000,Hire people to lessen administrative work,0.0000
1247,More staff to allow more personal time,0.2878,More opportunities to better our knowledge,0.7233
1250,Higher salaries,0.0000,Closing over December,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574

Mean sentiment:  0.157
Std dev:         0.244

,Q4,sentiment
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
4,Be confident in the work i do Academically strong,0.7579
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
8,"to run an independant practice, be a partner and not an employee",0.0000
...,...,...
1243,To practice as a clinical embryologist in a private clinic,0.0000
1247,To be the best embryologist I can be to the patients.,0.6369
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351
1252,Make babies and make people happy.,0.5719
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106

Mean sentiment:  0.222
Std dev:         0.332

                    Marital status        Q1        Q2        Q3        Q4
0  Married or domestic partnership -0.039489 -0.038979  0.128047  0.184573
1            Single, never married -0.068982 -0.028170  0.156781  0.222148
2               Previously Married       NaN       NaN       NaN       NaN

In [422]:
pm_df = df[df["Category 4: Marital status"].isin(['Previously Married'])]
analyse_verbatims(2, pm_df, MS_results_df)
MS_results_df

,Q1a,sentiment1,Q1b,sentiment2
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
14,Time spent at work,0.0000,Money for new quipment,0.0000
18,"hard cases; bad sperm, fragile oocytes",-0.5994,verification,0.0000
61,Excessive overtime,0.0000,Career progression,0.0000
66,high workload,0.0000,stress,-0.4215
...,...,...,...,...
1203,Not enough employees,0.0000,Time off work,0.0000
1210,Long hours,0.0000,Poor equipment,-0.4767
1215,Weekend rota,0.0000,Failed fertilisation,-0.5106
1232,Burnout,0.0000,Improper staffing,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000

Mean sentiment: -0.051
Std dev:         0.259

,Q2a,sentiment1,Q2b,sentiment2
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
14,Low salary,-0.2732,Stress,-0.4215
18,long working hours,0.0000,stress,-0.4215
61,Overworked,0.0000,Underpaid,0.0000
66,clinician dominance,0.2023,ethical problems,0.1531
...,...,...,...,...
1203,Not enough employees,0.0000,Workload,0.0000
1210,Long hours,0.0000,Poor pay,-0.5423
1215,Recognition from management,0.0000,Managing patient’s expectations,0.0000
1232,Burnout,0.0000,Improper ataffing,0.0000
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000

Mean sentiment: -0.045
Std dev:         0.245

,Q3a,sentiment1,Q3b,sentiment2
5,Reporting Manager should understand the situation,0.0,Stress free atmosphere,0.1280
14,More staff,0.0,more off time,0.0000
18,organisation,0.0,"good comminication with whole team; doctors, nurses, lab technicians",0.4404
61,More embryologists,0.0,Better pay,0.3612
66,less overtime,0.0,more meetings with clinicians,0.0000
...,...,...,...,...
1203,More staff,0.0,Coordinator to spread cycles efficiently,0.4019
1210,Hire more staff,0.0,Higher wates,0.0000
1215,Sufficient staffing levels,0.0,Team building supports,0.3612
1232,Setting realistic staffing ratios,0.0,Recognizing that embryologists are not just Lab Techs,0.0000
1255,havng university programs in embryology,0.0,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.149
Std dev:         0.234

,Q4,sentiment
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
14,Best success rate to promote our clinic,0.8885
18,create a routine for personilized treatment for patients,0.2732
61,Be the best I can at the job I do to provide patients with best possible care,0.9118
66,-,0.0000
...,...,...
1203,Train new staff so I can retire,0.0000
1210,To retire,0.0000
1215,Maintain and improve standards in the field.,0.4404
1232,To retire,0.0000
1255,being able to help our patients,0.4019

Mean sentiment:  0.236
Std dev:         0.326

                    Marital status        Q1        Q2        Q3        Q4
0  Married or domestic partnership -0.039489 -0.038979  0.128047  0.184573
1            Single, never married -0.068982 -0.028170  0.156781  0.222148
2               Previously Married -0.051153 -0.044538  0.148555  0.236433

### Show heatmap

In [423]:
import seaborn as sns
# cm = sns.light_palette("green", as_cmap=True)
# s = cont_results_df.style.background_gradient(cmap='viridis')
s = MS_results_df.style.background_gradient()
s

## 7. Role+WB Classification

## 7.1 Junior embryologists by WB classification

In [494]:
WBclass_results = {'World bank classification': ['High-income economies', 'Upper-middle-income economies', \
                                                 'Lower-middle-income economies', 'Low-income economies' ],
        'Q1': [0.0, 0.0, 0.0, 0.0],
        'Q2': [0.0, 0.0, 0.0, 0.0],
        'Q3': [0.0, 0.0, 0.0, 0.0],
        'Q4': [0.0, 0.0, 0.0, 0.0]}
WBclass_results_df = pd.DataFrame.from_dict(WBclass_results)
WBclass_results_df

       World bank classification   Q1   Q2   Q3   Q4
0          High-income economies  0.0  0.0  0.0  0.0
1  Upper-middle-income economies  0.0  0.0  0.0  0.0
2  Lower-middle-income economies  0.0  0.0  0.0  0.0
3           Low-income economies  0.0  0.0  0.0  0.0

### 7.1.1 Junior/trainee + High-income economies

In [495]:
hie_df = df[df["Category 2: World bank classification"].isin(['High-income economies '])]
hie_jun_df = hie_df[hie_df["Category 3: Professional status"].isin(['Junior/trainee embryologist'])]
# hie_jun_df
analyse_verbatims(0, hie_jun_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
2,Working hours and too many responsibilities,0.0000,Salary,0.0000
19,We are not being paid fairly (it's a specialized field),0.0000,Subjectivity when it comes to selecting/grading embryos,0.0000
32,Workload,0.0000,Understaff,0.0000
45,TRUST,0.5106,Long work routines,0.0000
58,stress,-0.4215,breaking bad news,-0.5423
62,Stress (Burn Out),-0.4215,Extreme Attention to detail 24/7,0.0000
63,Keeping up with technological advancements,0.0000,High stakes and serious consequences of mistakes,-0.4215
79,Too much workload,0.0000,Lack of lab organization,-0.3182
90,Physical stress,-0.4215,Prioritization of tasks,0.0000
110,Lack of recognition,-0.3182,Overworked and lack of time off,-0.3182
131,High pressure environment,-0.2960,Some isolation from the rest of the clinical team,-0.4019
148,Staffing shortages,-0.1531,Companies motivated by profit,0.7096
149,Low salary,-0.2732,Overworked,0.0000
152,Lack of staff,-0.3182,Lack of training guidelines,-0.3182
160,Training,0.0000,Workload,0.0000
163,Lack of more innovative equipment,0.2247,Poor salarys when compared to the medical doctors,-0.4767
164,Expected to know all the answers (even for other departments eg medications and scanning dates),0.0000,Multi task with zero room for error,-0.4019
175,Embryo decisions,0.0000,Delivering bad news,-0.5423
273,the expectation of perfection,0.5719,not having enough resources,0.0000
326,Burnout,0.0000,Poor management,-0.4767
327,Understaffed,0.0000,Over worked,0.0000
342,Excessive work,0.0000,Underpaid,0.0000
349,High workload,0.0000,Blame culture,-0.3400
401,Time pressure,-0.2960,Stress,-0.4215
408,Laboratory scheduling treatments,0.0000,Recognition,0.0000
435,recognition,0.0000,safety,0.4215
438,Artificial Inteligence,0.0000,Competencia (we are too much),0.0000
440,not losing the empathy to patients when there is a high load of work,0.2924,not blaiming others for human errors or not adapting to new strategies,-0.3400
445,RECOGNITION,0.0000,TEAMWORK,0.0000
476,rigor,0.0000,organization,0.0000
480,Staffing Levels,0.0000,Flexibility to work from home,0.3400
481,a lot of bad new calls falls on us and some patients havent been prepared to fail a cycle,-0.8256,low pay,-0.3612
546,Competition,0.0000,Under staffed labs,0.0000
548,Staff are only qualified embryologist and technicians..,0.0000,Recognition profesional,0.0000
581,Provide good health care to subfertile people,0.7269,Keep up to date with new technologies,0.0000
586,Workload,0.0000,Dividing time between the lab and desk,0.0000
616,tracebility,0.0000,to stay focused all the time during work,0.3818
637,Work- life balance,0.0000,Unpredictable schedule and weekend work,0.0000
651,precise and fast work at once,0.0000,a lot of paper work,0.0000
726,overworking,0.0000,dealing with a lot of things that are not related to embryology (admin/ IT problems etc),-0.4019
780,Patient dissatisfaction,-0.4939,Communication errors,-0.3400
796,Quick working on suitable heated spaces,0.0000,keeping stable conditions for all cells,0.2960
808,time management,0.0000,mental and physical exhaustion,-0.3612
879,Working under responsibility pressure,-0.2960,Working under time pressure,-0.2960
885,Workload,0.0000,Stress,-0.4215
913,Time pressure,-0.2960,Working error free,0.1531
935,Security,0.3400,Concentration,0.0000
969,workload/too less time,0.0000,limited ressources,-0.2263
1091,a lot of bad new calls falls on us and some patients havent been prepared to fail a cycle,-0.8256,a lot of patients just a have no idea what role we actually play in the cycle,0.0516
1109,Burnout/over worked,0.0000,Career growth in the field,0.3818
1164,Quality,0.0000,Safety,0.4215
1166,Being over worked,0.0000,Extremely fast paced.,0.0000
1169,Time for training,0.0000,New technology,0.0000
1208,Too much paperwork,0.0000,Not enough focus on advancement,0.0000
1235,Understaffing,0.0000,Way too many hours worked,0.0000

Mean sentiment: -0.069
Std dev:         0.274

,Q2a,sentiment1,Q2b,sentiment2
2,Access to training,0.0000,Certification,0.0000
19,Grading subjectivity,0.0000,Workplace stress,-0.4215
32,Difficult to find a job (in my country),-0.3612,Salary,0.0000
45,Sacrifice,0.0000,Family,0.0000
58,AI replacing embryologists (?),0.0000,-,0.0000
62,Expected long hours and overtime,0.0000,Limited choice of annual leave,-0.2732
63,Providing a standardized level of care.,0.4939,Keeping up with changing laws,0.0000
79,Lack of structured training,-0.3182,Too much workload,0.0000
90,Job opportunities,0.3818,Little time for knowledge enhancement,0.0000
110,Low pay compared to skill level,-0.3612,Bad employers,-0.5423
131,Very few embryologists,0.0000,Very few job vacancies,0.0000
148,Companies motivated by profit,0.7096,Skill shortage,-0.2500
149,High pressure,-0.2960,Competitiveness for employment,0.0000
152,Sharing new research and applying it,0.4215,Educating the public,0.0000
160,Understaffing,0.0000,Introduction of IT and AI,0.0000
163,Lack of recognition,-0.3182,Poor salarys when compared to the medical doctors,-0.4767
164,Burn Out,0.0000,Fear of Failure,-0.7579
175,Delivering bad news,-0.5423,Needing staff 7 days a week,0.0000
273,not being recognised as a specialist field,0.0000,time to keep up with the every changing field whilst working full time to keep the lab running,0.0000
326,Burnout,0.0000,Career growth,0.3818
327,Understaffed,0.0000,Over worked,0.0000
342,Industrialization of IVF programs,0.0000,Shortage of experience embryologist,-0.2500
349,Low pay relative to skill level,-0.3612,Responsibility for errors,-0.3400
401,Having to deliver bad news,-0.5423,Very competitive field,0.2484
408,Professional career,0.0000,Salary,0.0000
435,recognition,0.0000,knowledge,0.0000
438,Artificial Inteligence,0.0000,professional recognize,0.0000
440,Receive good training,0.4404,Salary,0.0000
445,RECOGNITION,0.0000,GOOD TRAINING,0.4404
476,teamwork,0.0000,skill,0.0000
480,Being able to advance into management roles,0.0000,Variability between labs,0.0000
481,low pay for literally making life,-0.3612,expected to perform miracles and getting slammed when it doesnt happen,0.0000
546,Competition,0.0000,Responsibility,0.0000
548,Certified embryologist in my country,0.0000,More relación with patients,0.0000
581,High work load,0.0000,Management of the laboratory personnel,0.0000
586,Workload,0.0000,Funding,0.0000
616,working with no mistakes,-0.5719,to work under pressure,-0.2960
637,Overworked,0.0000,Understaffed and under paid,0.0000
651,need to stay focused in routine,0.3818,ethical questions,0.5106
726,not recognized,0.0000,job description in the hospital is not clear,-0.2924
780,Lack of recognition,-0.3182,Long work hours,0.0000
796,highly responsible working habbits,0.3804,"close co-operation with lab members, doctors but also patients",0.0000
808,.,0.0000,.,0.0000
879,NA,0.0000,NA,0.0000
885,Pay,-0.1027,Undervalued,0.0000
913,Time pressure,-0.2960,consistent quality of work,0.0000
935,Recognisement,0.0000,Decisión power,0.0000
969,enhancing CPR,0.0000,personalized ART treatments,0.0000
1091,low pay for literally making life,-0.3612,expected to perform miracles and getting slammed when it doesnt happen,0.0000
1109,Burnout,0.0000,Finding new staff to fill jobs,0.0000
1164,Icsi,0.0000,Vitrification,0.0000
1166,"Long hours working, work weekends as well",0.2732,Working too much.,0.0000
1169,Specialized courses,0.0000,Manual courses,0.0000
1208,Too few embryologists in general,0.0000,Lack of regulation / standardization,-0.3182
1235,Understaffing,0.0000,Way too many hours worked,0.0000

Mean sentiment: -0.039
Std dev:         0.235

,Q3a,sentiment1,Q3b,sentiment2
2,Add reading and projects into basic workload not in leisure time,0.0000,Understand for how many hours a brain can be functional performing lab procedures per day,0.0000
19,More recognition and a better payscale (minimally equivalent to the nurses),0.4877,More clinical involvement when it comes to deciding a patient's cycle/decision,0.0000
32,more training options,0.0000,support by employees,0.4019
45,that we can attend more congresses and with help,0.4019,improve salary,0.4404
58,state of the art lab,0.0000,limited admin work,-0.2263
62,Working rota with different shift starts,0.0000,Better salary/annual leave to compensate the long hours,0.4019
63,More staffing for spreading on-call responsibilities,0.0000,More communication with regular lab/MDT meetings,0.0000
79,Have a structured training program to build confidence,0.5106,Enough staff to deal with the workload,0.0000
90,Organize tasks in the lab,0.0000,Proper equipment for good postures,0.4404
110,Shorter hours and more paid time off,0.0000,Legal protection from employers,0.1280
131,Better compensation for weekend work,0.4404,Increased patient interaction,0.2732
148,Staffing levels on par with guidelines,0.0000,Windows,0.0000
149,More standardised training,0.0000,Balanced workload,0.0000
152,More communication between different companies within the Ivf field,0.0000,A set training regime for embryologists,0.0000
160,Better training,0.4404,More embryologists,0.0000
163,-,0.0000,-,0.0000
164,Offices with windows and access to the outside!,0.0000,Knowing it’s ok and being allowed to take a break,0.2960
175,Fair rostering,0.3182,Good chairs,0.4404
273,Development of a true measure of workload: fulltime employee ratio inclusive of experience,0.4215,Improve resourcing,0.4404
326,Get better management in labs,0.4404,Better work/life balance,0.4404
327,Mental health of staff needs to receive more attention,0.0000,Labs need to hire contract embryologists or fully trained embryologists to bring in when the workload is more than the current staffing can manage,0.0000
342,Embryologist need to enjoy their job,0.4939,Embryologist need to have a life beyond the lab work,0.0000
349,Higher pay,-0.1027,Better working hours (I.e less weekend cover),0.4404
401,Better payment,0.4404,Provode lwadership courses to build confidence,0.5106
408,There is a well-defined embryologist career,0.0000,Provide certificates to embryologist to work,0.0000
435,recognition,0.0000,recognized specialization programs,0.0000
438,certification by goverment,0.0000,improve the days off and salary,0.4404
440,Salary,0.0000,Having an internal team of prevention of laboral risks,-0.2732
445,RECOGNITION OF EMBRYOLOGIST DEGREE IN MY COUNTRY,0.0000,PAY MORE,-0.1027
476,?,0.0000,?,0.0000
480,"Employ more staff, gives more flexibility to have more than 1 person on leave at once",0.3597,Massages or ability to take regular breaks to assist with aches,0.0772
481,higher pay,-0.1027,more public education about IVF,0.0000
546,Better salary,0.4404,Right guidance by Lab directors,0.0000
548,Rise salary,0.0000,More staff,0.0000
581,Less burden of a quality control system,-0.3832,Management course,0.0000
586,"More workforce, or dedicated help from post-doc's, PhD's etc.",0.7152,More budget to provide more automation,0.0000
616,more pauses during the work time,0.0000,more off days during the year,0.0000
637,Higher salary,0.0000,Set hours,0.0000
651,cheaper courses and licences,0.0000,"attention to work-life balance (part-time jobs, more sick-days, less overtimes, ...)",0.0000
726,clear job description,0.3818,hire more embryologists,0.0000
780,Better communication with clinical staff,0.4404,More PTO accrual,0.0000
796,good team with enough members to compensate,0.4404,up to date equipment + training,0.0000
808,more days off,0.0000,time for sun and fresh air,0.3182
879,Less daily working hours but more staff to rotate,0.0000,Investing in the best equipment,0.6369
885,Increase pay,0.2263,National licensing,0.0000
913,Reduce administrative tasks,0.0000,increase standardization,0.3182
935,Less work houres,0.0000,More salary,0.0000
969,communication channels between clinicans and embryologists,0.0000,standardized working conditions,0.0000
1091,higher pay,-0.1027,more public education about IVF,0.0000
1109,Create better protocols to decrease employees being overworked,0.6124,Pay attention to hours being worked and make changes to accommodate those working more (availability of time off),-0.1027
1164,Certification,0.0000,Money,0.0000
1166,Hire more embryologists to reduce the workload.,0.0000,We need more embryologists,0.0000
1169,Increment of salary,0.0000,More congress,0.0000
1208,"Standardize procedures/labeling, etc",0.0000,Provide more nurturing environment for juniors,0.5095
1235,Staff appropriately,0.0000,Cap number of hours worked,0.0772

Mean sentiment:  0.124
Std dev:         0.223

,Q4,sentiment
2,Get my ESHRE certification Publish paper through research Presentations and leading workshops Acquire lab directing skills,0.0000
19,Laboratory manager/director,0.0000
32,still figuring out,0.0000
45,"improve every day, new techniques and equipment so that our work is optimal",0.6597
58,Progress to Consultant Embryologist,0.4215
62,Not sure - probably won’t be able to stay as an embryologist - too much daily stress,-0.5806
63,To be registered embryologist in large clinic and be involved in regular research projects alongside.,0.0000
79,To become senior,0.0000
90,ESHRE certification with a lot of laboratory skills and maybe combine another field(bioethics) for helping my own country's ivf regulations. I would also love to conduct a research at some point of my career.,0.7506
110,Senior Embryologist,0.0000
131,To have a job that is rewarding and mentally stimulating.,0.7430
148,To become a senior embryologist,0.0000
149,PhD in ART related topic,0.0000
152,To complete my embryology traineeship and eventually become a lab supervisor,0.0000
160,PhD in Artificial Intelligence and software development for labs.,0.4767
163,Laboratory responsible,0.3182
164,Do the best I can and help as many people as possible before I decide to leave the field,0.7717
175,Senior embryologist,0.0000
273,Keep striving for more knowledge and experience (who knows where that with then take me),0.0000
326,Eventual lab manager,0.0000
327,I wish to be an embryologist until I retire. I have no desire to become a laboratory director or even a technical supervisor. I love embryology and that is what I want to spend my life doing.,0.8271
342,Stay up tp date on new technologies applied to my field,0.0000
349,Become a clinical embryologist and achieve state registration,0.0000
401,"Finish my clinical training, become HCPC registered, travel on other countries to work in other labs and see differences in legislation/practice/etc, be involved in research projects.",0.0000
408,Keep doing lab work as longas I can. Not only lab director,0.0000
435,get the certificate of senior embryologist,0.0000
438,to make things in the best way to help people to have children,0.7845
440,"To become a good senior embriologyst, a good professional",0.7003
445,"Good quality standars in my laboratory, and keep improving the protocols.",0.6908
476,head of service,0.0000
480,To become laboratory manager or regional manager,0.0000
481,"becoming a qualified embryologist short term, potentially going into genetics or lab manager long term",0.0000
546,Lab director,0.0000
548,Director lab,0.0000
581,To finish my post doctoral training in clinical embryology and become a good clinical embryologist,0.4404
586,"Enjoy work, help patiënts, become more knowledgeable",0.7096
616,To become senior embryologyst,0.0000
637,To be a medical laboratory direction,0.0000
651,"Learn all the current methods, maybe become head of the lab",0.0000
726,..,0.0000
780,To continue to grow and learn as much as possible to ultimately become a Sr. Embryologist,0.0000
796,"Getting the title reproduction biologist, and staying up to date with trainings and workshops",0.0000
808,senior embryologist,0.0000
879,Own my own clinic or become a senior embryologist for a big company,0.0000
885,Scientific Director,0.0000
913,becoming senior embryologist,0.0000
935,Patient satisfaction,0.4404
969,?,0.0000
1091,"to become a fully qualified embryologist, potentially lab manager or higher later down the track.",0.0000
1109,Fully trained embryologist with some kind of managerial role,0.0000
1164,Discover new techniques,0.0000
1166,Working in a clinic with a full staff to reduce stress due to workload,-0.4215
1169,Lab directory,0.0000
1208,"PhD at EVMS, Lab Director (ABB HCLD)",0.0000
1235,To get out of embryology,0.0000

Mean sentiment:  0.141
Std dev:         0.311

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.068731 -0.038784  0.124067  0.140589
1  Upper-middle-income economies  0.000000  0.000000  0.000000  0.000000
2  Lower-middle-income economies  0.000000  0.000000  0.000000  0.000000
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.1.2 Junior/trainee + Upper-middle-income economies

In [496]:
umi_df = df[df["Category 2: World bank classification"].isin(['Upper-middle-income economies'])]
umi_jun_df = umi_df[umi_df["Category 3: Professional status"].isin(['Junior/trainee embryologist'])]
# umi_jun_df
analyse_verbatims(1, umi_jun_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
6,General workplace politics,0.0000,Internal Pressure,-0.2960
7,Burnout due to working continously through weekends without breaks,0.0000,Difficulty in taking time off due to understaffed clinics,-0.3400
31,Never ever make a mistake,0.2584,None,0.0000
36,A good salary,0.4404,Overtime in the working day,0.0000
56,Lack of staff,-0.3182,Burnout derived from lack of staff,-0.3182
73,Underpaid,0.0000,Overworked,0.0000
99,Pressure to perform perfectly on both standard and sensitive cases,0.4588,Interdepartmental communications,0.0000
103,"Wagner, remuneration",0.0000,Hours worked,0.0000
182,Financial burden,-0.4404,Long working hours,0.0000
189,Paperwork,0.0000,Workload,0.0000
242,Overworked - when clinic employs less people,0.0000,Changing protocols due to technological advancements,0.0000
244,Workload and time consuming,0.0000,Emotional Burden,-0.3182
245,underpaid,0.0000,too much work,0.0000
329,Negative cases,-0.5719,No embryos to transfer,-0.2960
344,.,0.0000,.,0.0000
555,To always give his maximum in business,0.0000,A high level of commitment to everything he does,0.3818
570,Pressure due to time sensitivities and constraints,-0.2960,Administration and work coverage with skeleton staff.,0.0000
573,THE BLUR BETWEEN EMBRYOLOGIST AND CLINITION,0.0000,COSTS,0.0000
627,Too match work,0.0000,Poor communication with medical staff,-0.4767
658,carrer,0.0000,study,0.0000
660,Hogh cost of the best products,0.6369,Lack of respect and recognition from doctors,0.2023
663,Responsabilities,0.0000,Attention on work,0.0000
671,workload,0.0000,respect from doctors,0.4767
672,Dólar impact on equipament,0.0000,New resolution of CRM,0.0000
674,group work with other clinic teams,0.0000,knowing how to manage when the results are not what you expected,0.0000
807,Long time training due to less samples for trainning,0.0000,Less communication between laboratory team and medical team,0.0000
812,Following the protocol strictly,0.0000,Concern any conditions that might effect to result,0.0000
818,Long work hours,0.0000,Lots of weekend work if working in a small clinic,0.0000
821,work hours,0.0000,limited decision making opportunities,0.1779
829,Many embryologists work under pressure and long hours causing exhaustion,-0.5719,Responsibity of patients gametes and embryos,0.0000
830,there might be too few embryologists working in a lab,0.0000,there might be miscommunication between the lab and clinic,0.0000
832,Few embryologist for required work load,0.0000,disrespect by clinicians,-0.4215
997,Contamination,0.0000,Have blastocyst in every patient,0.0000
1000,be heard by clinicians,0.0000,acquire new technology,0.0000
1008,retorno financeiro,0.0000,horários dignos,0.0000
1032,The teaching method,0.0000,Lack of support from other workers,0.1027
1048,laboratory quality control and service quality improvements,0.3182,work together with the medical group,0.0000
1242,Increased workload,0.2732,Unpaid overtime and weekend work,0.0000
1243,The overtime work (sudden shifts),0.0000,Constant trouble shooting and little room for error,-0.6293
1250,Low Salaries,-0.2732,Working weekends,0.0000

Mean sentiment: -0.023
Std dev:         0.221

,Q2a,sentiment1,Q2b,sentiment2
6,Undervalued,0.0000,Underpaid,0.0000
7,Lack of qualified embryologists - staff shortages,-0.4404,Underpayment for specialized skills,0.0000
31,None,0.0000,None,0.0000
36,"Undervalued profession, regarding the responsibility it implies.",0.0000,Few job offers in your country.,0.0000
56,Stress,-0.4215,Burnout,0.0000
73,Burn out,0.0000,Low pay,-0.3612
99,"Resource consistency (even though good to be adaptable to varying tools and disposabless, but equipment inconsistency sensitive to good success rates) )",0.8968,Performance expectations and mismanaged patient expectations on cycle outcomes,0.0000
103,"Wagner, remuneration",0.0000,Hours worked,0.0000
182,Less recognition by the world,0.0000,Underlooked,0.0000
189,Less salary,0.0000,Too many cases held in a day,0.0000
242,Lack of adequate income,-0.1027,Undervalued,0.0000
244,Underpaid,0.0000,Overworked,0.0000
245,less or no recognition by national health department,-0.2315,ethical issues brought upon by society,0.5106
329,Time to rest,0.0000,Lack of incentive by companies,0.0516
344,.,0.0000,.,0.0000
555,to do best,0.6369,to make everything go according to protocols,0.0000
570,Not enough recognition,0.0000,Still not well known enough. Most of society thinks that the doctors do all the lab work.,-0.2057
573,STIGMA,0.0000,COMPETITION IN THE FEILD,0.0000
627,Poor communication with medical staff,-0.4767,Too many cycles per embryologist,0.0000
658,carrer,0.0000,study,0.0000
660,Low salary,-0.2732,Lack of recognition,-0.3182
663,Responsabilities,0.0000,Attention on work,0.0000
671,professional appreciation,0.5106,wage,0.0000
672,Found places to pratic,0.0000,Found oportunity to especialyse,0.0000
674,seek better physical and psychological working conditions,0.4404,knowing how to control the egos of other professionals,0.0000
807,Complex tasks perform under pressure,-0.2960,Patients with High expectations,0.0000
812,Opportunity to get trained,0.4215,Lifelong learning,0.0000
818,Too little pay,-0.0276,No room for career growth,0.1027
821,salary,0.0000,Unable to own a lab/clinic,0.0000
829,Low income pay,-0.3612,Embryology is an unrecognised profession,0.0000
830,embryologists are underpaid,0.0000,embryologist are at risk of burn out,-0.2732
832,Low income,-0.2732,Undermined by department of health,-0.3612
997,Stress,-0.4215,Exactitude,0.0000
1000,be heard by clinicians,0.0000,ease of training,0.3612
1008,reconhecimento,0.0000,autonomia,0.0000
1032,Difficult access to information and courses from my country,-0.3612,High cost of courses and training,0.0000
1048,the high expectations that patients and doctors have about the techniques we perform,0.0000,The pressure of rapid technological changes: discerning the value of them,0.0516
1242,Major responsibility,0.0000,Not always heard,0.0000
1243,Not paid according to the service done,0.0000,The high risk of burnout,-0.2732
1250,Not closing over December,0.0000,Low Salaries,-0.2732

Mean sentiment: -0.022
Std dev:         0.223

,Q3a,sentiment1,Q3b,sentiment2
6,Flexible hours to reduce stress,-0.2263,Shorter rotations in the Lab,0.0000
7,"Allow for more clinics to be accredited training units, thus increasing accessibility to science graduates and allowing more embryologists into the field",0.2263,"If an embryologist has worked on a weekend, allowing one day off during the week",0.0000
31,Good SOP,0.4404,Good workmates,0.4404
36,establish a real commitment and communication between doctors and embryologists in the workplace.,0.3818,involving the embryologist every day to participate in more activities outside the in vitro laboratory,0.0000
56,"It really comes down to the Director of the center, but to hire more staff",0.0000,Provide flexible schedules for embryologist as well as a planned out vacation system for lab staff,0.4588
73,More staff,0.0000,Less working hours,0.0000
99,Decreased micromanaging of laboratory performance standards from managerial heads,0.0000,Skills labs presented as an exchange program between clinics/laboratories (without any competitive subjectivity but rather inspired by a greater unity to enhance any hands-on practice and skills for the sake of the patients),0.8360
103,Professional valoriation,0.0000,Work environment,0.0000
182,Rotational staff so long hours are not required,0.0000,Better benefits to encourage passion of work.,0.8957
189,Other units have to considerate with embryologist work,0.4404,Embryologist should focus on the work lab only,0.0000
242,Employ more people according to the amount of patients the clinics has,0.0000,Have routine training for new technological advancements and only implement them once most staff are fully versed.,0.0000
244,More recognition and increase payscale,0.3744,Decrease working hours to release workload,0.0000
245,better payment,0.4404,better training methods should be implemented,0.4404
329,More embryologists per clinics for relays,0.0000,incentives for upgrading and specialization,0.3182
344,.,0.0000,.,0.0000
555,provide more staff,0.0000,The best equipment for work,0.6369
570,Administration relief staff and systems such as paperless patient filing and information databases.,0.4767,Respect for embryology and andrology labs' schedules so as not to over book procedures that would place more pressure to perform. We aim to provide the best quality for patients.,0.7010
573,RESPECT FOR THE SKILL,0.4767,ACKNOWLEDGMENT,0.0000
627,Better regulatives,0.4404,/,0.0000
658,course,0.0000,faculd especific,0.0000
660,Fair wages,0.3182,Respect,0.4767
663,Have enough staff,0.0000,Have good work environment,0.4404
671,Increase the team of professionals for the division of tasks,0.3182,Professional appreciation both in terms of assistance in career investment and salary by the clinic directors (doctors),0.5106
672,Bests price in equipaments,0.0000,Make laws tô help embryologists,0.4019
674,Better working conditions,0.4404,Better salaries,0.4404
807,Modern Technology for embryologist,0.0000,Appropriate pay per complex work,-0.1027
812,Have a training plan for new staff,0.0000,Working role,0.0000
818,Implement height adjustment chairs,0.0000,Standardised working hours,0.0000
821,Better salary,0.4404,More recognition and decision making opportunities,0.3818
829,Employ more embryologists to decrease the workload,0.0000,Effective lab setup to ensure that the embryologists is comfortable when working in the lab,0.8402
830,improve on communication between clinic and laboratory,0.4404,"ensure, to the best of ones ability, to avoid weekend work",0.7845
832,Improve income,0.4404,hire more people of colour,0.0000
997,Bigger laboratories,0.0000,Easily tools to manage embryos,0.3400
1000,set specific work hours,0.0000,better communication with the clinical part,0.4404
1008,mais profissionais para escala de trabalho,0.0000,valorização salarial,0.0000
1032,Better access to courses and training for all countries,0.4404,mejorar programa de entrenamiento,0.0000
1048,no restrictions on the use of disposable materials and media,-0.2960,share responsibilities between physians and embryologists,0.2960
1242,Overtime to a minimum,0.0000,Mindfullness of weekend work,0.0000
1243,Schedule stimulation protocols more accordingly,0.0000,Hire people to lessen administrative work,0.0000
1250,Higher salaries,0.0000,Closing over December,0.0000

Mean sentiment:  0.200
Std dev:         0.263

,Q4,sentiment
6,"I would like to work as an embryologist internationally, hopefully one day obtain my PhD. I would like to influence up and coming embryologists and have an active role in research within the field of ART",0.8555
7,To be stable and happy while doing a job that I love.,0.8779
31,"Hard to say , make progress day by day",0.3400
36,Train more embryologists.,0.0000
56,Become IVF lab director and author publications,0.0000
73,Start my own ivf laboratory,0.0000
99,"To achieve optimal KPIs in my performance, to be a key contributor to any unit and its patient care, to further my academic knowledge and scientific understandings of ART, and to achieve healthy work-life balance.",0.8126
103,Do a master's degree. Take a course abroad.,0.0000
182,To get a PhD in reproductive biology.,0.0000
189,Improve skills and getting more pregnancy outcomes with healthy life birth,0.6808
242,To work in a clinic as a senior embryologist and hopefully own my own clinic one day,0.4019
244,"To enter the field of human and animal embryology, run an independent lab, and to be internationally accredited.",0.0000
245,embryology expert with more innovative mind to improve my career and embryology as a whole,0.7264
329,Specialize more and more and try a job in Europe or USA,0.0000
344,clinical embryologist,0.0000
555,always be profesional and do the best,0.6369
570,To become equipped to provide the best quality of service and clinical outcomes to patients while building up a skilled reputation.,0.6369
573,"LEARN, GROW DEVELOP, WRITE",0.0000
627,Chief,0.0000
658,replace informations,0.0000
660,Don't know,0.0000
663,Become a better professional each day,0.4404
671,To be a highly qualified and professionally and financially valued embryologist,0.4404
672,Junior embriologist,0.0000
674,administer quality control in FIV laboratories,0.0000
807,Be an ESHRE-certified embryologist.,0.0000
812,Director of ART clinic,0.0000
818,IVF Lab director,0.0000
821,to be a renowned/skilled embryologist/ researcher,0.0000
829,I am currently a student/ intern in training aspiring to become a successful embryologist. Once I have obtained my certificate I would like to broaden my knowledge in the field and one day conduct research in reproductive biology,0.7430
830,career goal would be to one day run my own clinic,0.0000
832,To become an Embryology lab director with multiple streams of income,0.0000
997,Have my own clinic,0.0000
1000,research in embryology,0.0000
1008,"abranger mais técnicas como ICSI, BIÓPSIA.",0.0000
1032,"be a certified embryologist with an Msc and PhD, as well starting a career in research",0.2732
1048,Give the best service,0.6369
1242,I aspire to be a good technical and pratically skilled Embryologist with thorough knowledge and good patient communication and care skills.,0.8402
1243,To practice as a clinical embryologist in a private clinic,0.0000
1250,To complete my masters and become the best practical embryologist to my abilities.,0.7351

Mean sentiment:  0.252
Std dev:         0.335

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.068731 -0.038784  0.124067  0.140589
1  Upper-middle-income economies -0.023002 -0.022109  0.199890  0.251953
2  Lower-middle-income economies  0.000000  0.000000  0.000000  0.000000
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.1.3 Junior/trainee + Lower-middle-income economies

In [497]:
lmi_df = df[df["Category 2: World bank classification"].isin(['Lower-middle-income economies '])]
lmi_jun_df = lmi_df[lmi_df["Category 3: Professional status"].isin(['Junior/trainee embryologist'])]
# lmi_jun_df
analyse_verbatims(2, lmi_jun_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
4,Recognizion,0.0000,Trust,0.5106
53,Little or no day off alloted,-0.2315,Employer doubting one's working ability,-0.0258
60,Burnout,0.0000,Lack of New Technologies,-0.3182
77,Shortage of staff: lack of assistance,-0.5106,No support from management,0.1280
80,Staff shortage,-0.2500,Long working hours,0.0000
...,...,...,...,...
1139,Development of blastocyst,0.0000,Embryo recovery after thawing,0.0000
1142,ICSI,0.0000,ICSI,0.0000
1145,Domination,-0.0516,Starting from the initial if we change to other fertility centre,0.0000
1152,Senniors pressure,-0.2960,Dominance,0.2023
1157,Time lapse,0.0000,Gynec order,0.0000

Mean sentiment: -0.043
Std dev:         0.223

,Q2a,sentiment1,Q2b,sentiment2
4,Handson training,0.0000,Trust,0.5106
53,Unfavourable working conditions,0.0000,Short-staffed,0.0000
60,Burnout,0.0000,Slow adaptation to new technologies,0.0000
77,Overtime,0.0000,No recognition,-0.2960
80,Long working hours,0.0000,Toxic work environment,0.0000
...,...,...,...,...
1139,Maintaing records,0.0000,working for long hours and everyday,0.0000
1142,COMMITMENT,0.3818,TIME,0.0000
1145,Results after Embryo Transfer,0.0000,The cost of the treatment,0.0000
1152,Dominance,0.2023,Recommendation,0.0000
1157,Proper degree,0.0000,Salary issue,0.0000

Mean sentiment: -0.008
Std dev:         0.233

,Q3a,sentiment1,Q3b,sentiment2
4,Good laboratory training,0.4404,Troubleshooting,0.1779
53,Allot days for the embryologist to rest,0.0000,Batch cycles as opposed to daily/weekly treatments,0.0000
60,More embryologist,0.0000,Better technology,0.4404
77,Pay accordingly by hour,-0.1027,Technical assistance,0.0000
80,Improve the payscale,0.4404,Address leadership issues and open new jobs,0.0000
...,...,...,...,...
1139,finishing work same day itself,0.0000,having good mental health,0.4404
1142,HARD WORK,-0.1027,SMART WORK,0.4019
1145,Team work,0.0000,Relaxation time should be there,0.5267
1152,People friendly embryologist,0.4939,Frequent class session,0.0000
1157,Practise,0.0000,Time management salary,0.0000

Mean sentiment:  0.183
Std dev:         0.256

,Q4,sentiment
4,Be confident in the work i do Academically strong,0.7579
53,To help couples who struggle with infertility become parents and bring joy into their homes,0.6369
60,To become a Chief Scientific Director of a chain,0.0000
77,PhD with considerable publications,0.0000
80,Chief senior embryologist,0.0000
...,...,...
1139,To pursue Phd in clinical embryology,0.0000
1142,PhD in clinical Embryology,0.0000
1145,Need to become a Senior Embryologist with utmost sharp skills,0.0000
1152,To be a good embryologist,0.4404
1157,To be a professional embryologist and reasearcher in embryology field of life science,0.0000

Mean sentiment:  0.252
Std dev:         0.308

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.068731 -0.038784  0.124067  0.140589
1  Upper-middle-income economies -0.023002 -0.022109  0.199890  0.251953
2  Lower-middle-income economies -0.042687 -0.007685  0.182660  0.251815
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.1.4 Junior/trainee + Low-income economies = 0 records

In [475]:
lie_df = df[df["Category 2: World bank classification"].isin(['Low-income economies '])]
lie_jun_df = lie_df[lie_df["Category 3: Professional status"].isin(['Junior/trainee embryologist'])]
lie_jun_df
# analyse_verbatims(3, lie_jun_df, WBclass_results_df)
# WBclass_results_df

Empty DataFrame
Columns: [Respondent ID, Nationality, NAT, Year of birth, Gender, Marital status, Category 4: Marital status, In what country do you practice clinical embryology?, Category 1: Continent, Category 2: World bank classification, Current professional status at your primary work place, Category 3: Professional status, Unnamed: 12, Describe your primary place of work, Category: Place of work, When did you first start training/practising clinical embryology?, How long was your training?, How many fresh IVF/ICSI cycles did your primary clinic approximately perform annually (based on pre-pandemic census data, do not write multiple clinics' cycles if you are in a chain of clinics)? , How many fresh IVF/ICSI cycles does your primary clinic approximately perform annually (during the pandemic period, do not write multiple clinics' cycles if you are in a chain of clinics)? , How often is ICSI performed in your laboratory practice (% of all cases)?, Does your clinic perform conventional IVF?, Does your clinic perform freeze-all cycles?, How many PGT cases does your clinic perform monthly?, At what developmental stage do you perform embryo biopsy?, Which sperm preparation techniques are performed in your laboratory? (Select all that apply), Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31, Unnamed: 32, Unnamed: 33, Unnamed: 34, Unnamed: 35, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, How many cases of special washing procedures are carried out per month at your laboratory for viral seropositive semen samples (e.g., HIV)?, Does your laboratory have any of the following air purification systems for particulates and volatile organic compounds (VOC)? (Select all that apply), Unnamed: 42, Unnamed: 43, Unnamed: 44, Unnamed: 45, Unnamed: 46, Unnamed: 47, Unnamed: 48, Does your lab have a Standard Operating Procedure (SOP) manual?, Are there any graduate/diploma courses in clinical embryology in your country?, Do you have a clinical embryology graduate degree?, If you are a graduate in clinical embryology, was it residential on-campus or online?  , If you are a graduate in clinical embryology, were you satisfied with your graduation practical training that you received during your academic program , If you have a plan to enrol into a higher education program (MSc or PhD), what would be your preference?  , Do you find it difficult to enrol into a higher academic degree program in your country while practising clinical embryology (e.g. restricted from registering for a PhD)?, Why do you want to earn a higher academic degree?, Unnamed: 57, Unnamed: 58, Unnamed: 59, Unnamed: 60, Unnamed: 61, Are you planning to undertake any international certification for examination/recognition in clinical embryology (e.g. ESHRE/ABB certification)?, If you opt for a graduate program in ART, what would be your preference?  , Has the current COVID-19 pandemic changed your perception of teaching methods?, Do you find the current degree/courses/programs in embryology too expensive for you to enrol or to recommend to your peers?, Do you agree that all IVF centres should only have graduates/post-graduates in clinical embryology in their labs?, Are there any training centres in your country of practice?, Do you have full access to scientific peer-reviewed journals?, How many scientific papers have you authored or co-authored to peer-reviewed journals?, How often do you attend national/international scientific meetings or congresses in person?, Why do you attend scientific meetings/webinars/workshops? (Select all that apply), Unnamed: 72, Unnamed: 73, Unnamed: 74, Does your clinic sponsor your attendance to congresses/workshops?, Does your current employer encourage scientific contributions (e.g. presenting) at international conferences/meetings and/or publications?, Do you rely on the following sites/online sources to stay up to date? (Select all that apply), Unnamed: 78, Unnamed: 79, Unnamed: 80, Unnamed: 81, Unnamed: 82, Unnamed: 83, Unnamed: 84, Q1a, Q1b, Q2a, Q2b, Q3a, Q3b, How many hours a day do you work on average?, Q4, Are you satisfied with your current job?, Does your centre actively promote/encourage/provide funding for research?, Do you have a positive work environment relationship with your supervisor/director/manager (who you directly report to) for open discussions?, What do you do when you make significant errors (patient or non-patient related incidents) at work? (Select all that apply), Unnamed: 97, Unnamed: 98, Unnamed: 99, ...]
Index: []

[0 rows x 171 columns]

### 7.1 Heatmap

In [498]:
import seaborn as sns
s = WBclass_results_df.style.background_gradient()
s

## 7.2 Senior embryologists by WB classification

In [499]:
WBclass_results = {'World bank classification': ['High-income economies', 'Upper-middle-income economies', \
                                                 'Lower-middle-income economies', 'Low-income economies' ],
        'Q1': [0.0, 0.0, 0.0, 0.0],
        'Q2': [0.0, 0.0, 0.0, 0.0],
        'Q3': [0.0, 0.0, 0.0, 0.0],
        'Q4': [0.0, 0.0, 0.0, 0.0]}
WBclass_results_df = pd.DataFrame.from_dict(WBclass_results)
WBclass_results_df

       World bank classification   Q1   Q2   Q3   Q4
0          High-income economies  0.0  0.0  0.0  0.0
1  Upper-middle-income economies  0.0  0.0  0.0  0.0
2  Lower-middle-income economies  0.0  0.0  0.0  0.0
3           Low-income economies  0.0  0.0  0.0  0.0

### 7.2.1 Senior embryologist + High-income economies

In [500]:
hie_df = df[df["Category 2: World bank classification"].isin(['High-income economies '])]
hie_sen_df = hie_df[hie_df["Category 3: Professional status"].isin(['Senior embryologist'])]
# hie_sen_df
analyse_verbatims(0, hie_sen_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
0,Equality with clinical members,0.0000,Poor pay,-0.5423
1,Bullying by colleagues and managers,-0.5994,"Poorly designed protocols, technical ignorance by colleagues and managers.",-0.3612
3,burnout/stress,0.0000,poor management,-0.4767
18,"hard cases; bad sperm, fragile oocytes",-0.5994,verification,0.0000
21,Poor pay; lack of transparency of salary in the private sector,-0.7003,Burnout; poor health from RSI,-0.4767
...,...,...,...,...
1231,Too many cases with low staff,-0.2732,Burn out,0.0000
1234,Fatigue,-0.2500,Lack of recognition,-0.3182
1237,oocyte vitrification,0.0000,more sophisticated witnessing - software etc.,0.5984
1238,Quality control,0.0000,Work pressure,-0.2960
1244,"Motivation (stress, burnout)",0.3400,Getting the work done,0.0000

Mean sentiment: -0.059
Std dev:         0.233

,Q2a,sentiment1,Q2b,sentiment2
0,Shortage of trained staff,-0.2500,Equality,0.0000
1,Stress of delivering high quality work without sufficient staff.,-0.4215,Presence of narcissistic individuals destroying mental health of colleagues.,-0.5574
3,not enough highly trained staff,0.0000,politics,0.0000
18,long working hours,0.0000,stress,-0.4215
21,More competitive salary elsewhere in industry,0.2484,"Lack of benefits, autonomy or support",0.4588
...,...,...,...,...
1231,Burn out,0.0000,Low understanding of what procedures and duties an embryologist has to perform on a daily basis,-0.2732
1234,Stress,-0.4215,Lack of support,0.1027
1237,AI for embryo - selection,0.0000,NiPGT,0.0000
1238,Quality management control,0.0000,Quality management assurance,0.3400
1244,Safety in the lab,0.4215,Deliver quality,0.0000

Mean sentiment: -0.023
Std dev:         0.220

,Q3a,sentiment1,Q3b,sentiment2
0,Improve number,0.4939,Improve pay,0.3612
1,Screening for sociopathic personality traits needs to be introduced. A 45 minute interview is no way to select for entry into the profession.,-0.2960,Clinics must be staffed so that there is a good margin of available workers so that staff are not pressured to work at 110% and then burn out.,0.5523
3,better pay,0.3612,better CPD opportunities,0.6705
18,organisation,0.0000,"good comminication with whole team; doctors, nurses, lab technicians",0.4404
21,Improved pay and transparency of salaries,0.4019,Improved support in the workplace for implementing new technologies that support workflow,0.8176
...,...,...,...,...
1231,Better staffing,0.4404,Regulations,0.0000
1234,Better support from doctors,0.6808,Work fewer weekends,0.0000
1237,IVF lab facility,0.0000,good collective,0.4404
1238,Administrative simplification,0.0000,Clinic-laboratory communication,0.0000
1244,even distribution of work,0.0000,provide sufficient staff,0.0000

Mean sentiment:  0.128
Std dev:         0.230

,Q4,sentiment
0,Continue,0.0000
1,To survive until retirement without suffering mental illness or making a catestrophic lab error.,0.2760
3,FRCPath,0.0000
18,create a routine for personilized treatment for patients,0.2732
21,Manager,0.0000
...,...,...
1231,I have been a supervisor in past jobs. Now I just want to do my work as a senior embryologist and go home to my family. I’m happy to not climb the ladder.,0.6124
1234,I have reached senior status,0.1027
1237,I am satisfied :-),0.6249
1238,Senior clinical embryologist,0.0000
1244,PhD,0.0000

Mean sentiment:  0.129
Std dev:         0.286

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058713 -0.022742  0.128388  0.129317
1  Upper-middle-income economies  0.000000  0.000000  0.000000  0.000000
2  Lower-middle-income economies  0.000000  0.000000  0.000000  0.000000
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.2.2 Senior embryologist + Upper-middle-income economies

In [501]:
umi_df = df[df["Category 2: World bank classification"].isin(['Upper-middle-income economies'])]
umi_sen_df = umi_df[umi_df["Category 3: Professional status"].isin(['Senior embryologist'])]
# umi_sen_df
analyse_verbatims(1, umi_sen_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
8,fertilization outcomes are laid on the embryologists,0.0000,pregnancies outcomes are laid on the embryologists,0.0000
10,Recognition of our contribution in the ART field,0.0000,Workload,0.0000
12,administration work,0.0000,not enough equipment,0.0000
13,work overload,-0.3612,No/less support from clinicians,0.4019
16,Overworked,0.0000,Stressful,-0.5106
...,...,...,...,...
1245,Burnout,0.0000,Workload,0.0000
1247,Too many cases per embryologist,0.0000,Not enough off-time,0.0000
1249,Working lots of weekends and public holidays,0.3818,workload,0.0000
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salaries,-0.2732,Weekend and holiday work,0.4019

Mean sentiment: -0.018
Std dev:         0.230

,Q2a,sentiment1,Q2b,sentiment2
8,overworking with minimum breaks (leave),0.0000,overall outcome of the patient pregnancy rates are laid on the embryologists,0.0000
10,Inferior treatment by Clinicians,-0.4019,Workload,0.0000
12,administration work,0.0000,lack of budget,-0.3182
13,Poor salary,-0.4767,Expected to work hard and give good results,0.3612
16,Working on weekends,0.0000,Mainly women,0.0000
...,...,...,...,...
1245,Patient/Society Lack of Knowledge,-0.3182,Lack of recognition,-0.3182
1247,Continuous skill development,0.0000,Not enough staff,0.0000
1249,workload,0.0000,stress,-0.4215
1251,low salaries,-0.2732,weekend and holiday work,0.4019
1252,Low salary,-0.2732,Weekend and holiday work,0.4019

Mean sentiment: -0.057
Std dev:         0.222

,Q3a,sentiment1,Q3b,sentiment2
8,improve trust and provide fair team work to embryologist from the clinicians,0.8176,allow reasonable breaks to the embryologist for resting (leave),0.2263
10,Awareness by Clinic owners,0.0000,Educate us how to successfully get what we are asking for,0.4939
12,a good system for administration work,0.4404,financial empowerment,0.0000
13,Constant support form clinicians,0.4019,Increase salaries or pay better and relative to the workload,0.5859
16,Reduce weekend work,0.0000,Less admin work,0.0000
...,...,...,...,...
1245,"Guidelines for employers (hours, salary scales, overtime, benefits)",0.0000,Projects/Launches to improve Societal Knowledge about our profession,0.4404
1247,More staff to allow more personal time,0.2878,More opportunities to better our knowledge,0.7233
1249,increased wages (should get paid for weekends + public holidays),0.2732,employ more embryologists,0.0000
1251,increase salaries,0.3182,close over christmas,0.0000
1252,Higher salaries,0.0000,Close over Christmas holidays,0.3818

Mean sentiment:  0.134
Std dev:         0.222

,Q4,sentiment
8,"to run an independant practice, be a partner and not an employee",0.0000
10,This is more of an aspiration - I want my unit to be the best in the country,0.6705
12,to become scientific director with research project,0.0000
13,To achieve high position and personal development (lab director or chief technologist),0.0000
16,N/A,0.0000
...,...,...
1245,Becoming the best embryologist I can be by refining my skills and learning more techniques or other skills. I would also like to complete my pHD,0.7717
1247,To be the best embryologist I can be to the patients.,0.6369
1249,lab director,0.0000
1251,Dont make a big mistake,0.2584
1252,Make babies and make people happy.,0.5719

Mean sentiment:  0.232
Std dev:         0.310

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058713 -0.022742  0.128388  0.129317
1  Upper-middle-income economies -0.018159 -0.057041  0.133504  0.231972
2  Lower-middle-income economies  0.000000  0.000000  0.000000  0.000000
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.2.3 Senior embryologist + Lower-middle-income economies

In [502]:
lmi_df = df[df["Category 2: World bank classification"].isin(['Lower-middle-income economies '])]
lmi_sen_df = lmi_df[lmi_df["Category 3: Professional status"].isin(['Senior embryologist'])]
# lmi_sen_df
analyse_verbatims(2, lmi_sen_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
5,Stress created by no embryos/ less embryos/ poor quality embryos,-0.7024,No respect,0.2263
25,Employees shortage,-0.2500,Untrained staff,0.0000
44,Stress,-0.4215,trouble shoot,-0.6249
54,Each and every case of ours is different it itself is a big challenge.,0.0772,Lqck of Appreciation,0.5106
68,Negative result blame comes on embryologist,-0.7269,Less workforce,0.0000
...,...,...,...,...
1158,Results,0.0000,Waiting time,0.0000
1159,Day-5 blastocyst formation,0.0000,Thawed semen sample preparation,0.0000
1160,Interference of the clinician,0.0000,No credits for positives,0.5719
1161,Number of cases,0.0772,Quality Management,0.0000
1162,Male partners issue,0.0000,Supplies!,0.0000

Mean sentiment: -0.047
Std dev:         0.284

,Q2a,sentiment1,Q2b,sentiment2
5,Gossips of others which disturbs other Embryologist work,-0.6369,No respect,0.2263
25,Oocyte quality,0.0000,Implantation even after everything is good,0.4404
44,stress,-0.4215,results,0.0000
54,We are doing great work but still our work is not appreciated. All credit goes to our clinicians,-0.5830,Our job is not recognized,0.0000
68,No family time,-0.2960,Bachache,0.0000
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Thawed embryos results,0.0000,D-5 blastocyst formation or grading,0.0000
1160,Full time responsibility without any holidays,-0.2924,Paid less,0.0000
1161,Number of cases,0.0772,Quality Management,0.0000
1162,I don’t think so!,0.0000,No issues,-0.2960

Mean sentiment: -0.049
Std dev:         0.263

,Q3a,sentiment1,Q3b,sentiment2
5,Reporting Manager should understand the situation,0.0000,Stress free atmosphere,0.1280
25,Should be adequate staff,0.2263,Time flexibility,0.3400
44,diluting the work load,0.0000,Stress relief,0.0772
54,It's high time we should work together to get a recognition,0.0000,We should also have a registration no.,-0.2960
68,Devide work load,0.0000,Not go for all icsi,0.0000
...,...,...,...,...
1158,NA,0.0000,NA,0.0000
1159,Avoid exposure of embryos as much you can,-0.2960,Assess embryos on day0- day1 and then on day 3 or 5 only,0.0000
1160,Definite working hours,0.2732,Proper trainings,0.0000
1161,Provide optimum number of embryologist depending on the number of cases,0.1531,Software to ease the data maintenance,0.3612
1162,Renumeration,0.0000,Support staff,0.4019

Mean sentiment:  0.144
Std dev:         0.244

,Q4,sentiment
5,To be Good Embryologist by providing maximum effort and good professor by teaching others,0.7003
25,To find answers of failed implantation,-0.5106
44,"Academic excellence, lead role, research",0.6249
54,To clear ESHRE & get a position in academic . I need a proper guidance,0.3818
68,To help the needy couple,0.0772
...,...,...
1158,Embryologist,0.0000
1159,Become a successful scientist,0.5859
1160,To help as many infertile couple as possible & to give them a healthy baby of their own.,0.6597
1161,To become a successful embryologist,0.5859
1162,Perfection!!!,0.6784

Mean sentiment:  0.296
Std dev:         0.326

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058713 -0.022742  0.128388  0.129317
1  Upper-middle-income economies -0.018159 -0.057041  0.133504  0.231972
2  Lower-middle-income economies -0.046717 -0.049481  0.143551  0.295965
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.2.4 Senior embryologist + Low-income economies

In [503]:
lii_df = df[df["Category 2: World bank classification"].isin(['Low-income economies '])]
lii_sen_df = lii_df[lii_df["Category 3: Professional status"].isin(['Senior embryologist'])]
# lii_sen_df
analyse_verbatims(3, lii_sen_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
428,deal with everyday work,0.0000,relations with doctors,0.0000
499,low pay,-0.3612,un appreciated by clinicians,0.5106
635,Scientific decision making against Clinical stands,0.0000,Clinical influences on the gamates (oocytes) quality,0.0000
989,Salary satisfaction,0.4404,Career development,0.0000
1058,Low payment,-0.2732,Low respect for Juniors,0.2500
1246,"not getting enough working materials, in ethiopia",0.0000,to get Professional maintenance is difficult in my area,-0.3612

Mean sentiment:  0.017
Std dev:         0.286

,Q2a,sentiment1,Q2b,sentiment2
428,doctors,0.0000,how the government recognises us,0.0000
499,long work hours,0.0000,lack of opportunities for reskilling,0.0772
635,Burden of proof that results are not your making,-0.4404,Decisions on embryo transfers policies.,0.0000
989,Career development,0.0000,Research support,0.4019
1058,No Regulations of work,-0.2960,Limited skills development centers in the country,-0.2263
1246,maintaining the quality control in the IVF lab,0.0000,"training of good embryology staffs,",0.4404

Mean sentiment: -0.004
Std dev:         0.227

,Q3a,sentiment1,Q3b,sentiment2
428,to make us worth it by not accepting all the conditions,-0.0731,to fight for our wills,-0.3818
499,Networking and forming embryology societies to guide practice.,0.0000,training and reskilling,0.0000
635,Professional bodies to protect the embryologists decision,0.3818,Allow the embryologist to determine how much work they can carry.,0.2263
989,Continuous learning,0.0000,Motivation for development,0.3400
1058,Need for a regulating body,0.0000,Setting up more training centers in the country,0.0000
1246,having good embryology training center,0.4404,support technicians financially to get training abroad,0.4019

Mean sentiment:  0.111
Std dev:         0.257

,Q4,sentiment
428,to survive,0.0000
499,To practice evidence based embryology to the satisfaction of clients.,0.4404
635,Retire at 55years and go into academic/scientific research.,0.0000
989,Excellence,0.6249
1058,Becoming one of the best embryologist in my country and train more embryologist.,0.6369
1246,be ART researcher.,0.0000

Mean sentiment:  0.284
Std dev:         0.318

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.058713 -0.022742  0.128388  0.129317
1  Upper-middle-income economies -0.018159 -0.057041  0.133504  0.231972
2  Lower-middle-income economies -0.046717 -0.049481  0.143551  0.295965
3           Low-income economies  0.017117 -0.003600  0.111292  0.283700

### 7.2 Heatmap

In [504]:
import seaborn as sns
s = WBclass_results_df.style.background_gradient()
s

## 7.3 Mgmt/directors by WB classification

In [506]:
WBclass_results = {'World bank classification': ['High-income economies', 'Upper-middle-income economies', \
                                                 'Lower-middle-income economies', 'Low-income economies' ],
        'Q1': [0.0, 0.0, 0.0, 0.0],
        'Q2': [0.0, 0.0, 0.0, 0.0],
        'Q3': [0.0, 0.0, 0.0, 0.0],
        'Q4': [0.0, 0.0, 0.0, 0.0]}
WBclass_results_df = pd.DataFrame.from_dict(WBclass_results)
WBclass_results_df

       World bank classification   Q1   Q2   Q3   Q4
0          High-income economies  0.0  0.0  0.0  0.0
1  Upper-middle-income economies  0.0  0.0  0.0  0.0
2  Lower-middle-income economies  0.0  0.0  0.0  0.0
3           Low-income economies  0.0  0.0  0.0  0.0

### 7.3.1 Mgmt + High-income economies

In [508]:
hie_df = df[df["Category 2: World bank classification"].isin(['High-income economies '])]
hie_mgm_df = hie_df[hie_df["Category 3: Professional status"].isin(['Management/director'])]
# hie_mgm_df
analyse_verbatims(0, hie_mgm_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
9,lack of leadership,-0.3182,burnout,0.0000
22,time management with patients/doctors,0.0000,including embryologists more in patient-treatment,0.0000
41,Automaticity,0.0000,variable & busy workload,0.0000
43,Inconsistent workload,0.0000,Burnout,0.0000
47,Staffing levels,0.0000,Dating equipment and Trust refuses to invest in renewal,0.5106
...,...,...,...,...
1232,Burnout,0.0000,Improper staffing,0.0000
1233,Burnout,0.0000,Understaffing,0.0000
1236,Patient workload,0.0000,Work stress,-0.4215
1240,Lack of consideration by MDs,-0.3182,Understaffing,0.0000
1255,Training,0.0000,Being able to have technical and manual capacities,0.0000

Mean sentiment: -0.057
Std dev:         0.212

,Q2a,sentiment1,Q2b,sentiment2
9,managment,0.0000,AI,0.0000
22,no mistakes are allowed,-0.5719,a lot of responsibility,0.0000
41,lack of staff,-0.3182,lack of recognition,-0.3182
43,Loss of historical knowledge,-0.3182,Shortage of skill,-0.2500
47,Lack of time/support for career progression,-0.3182,Lack of time/support/funding for innovation and research,0.0772
...,...,...,...,...
1232,Burnout,0.0000,Improper ataffing,0.0000
1233,Demanding schedules,-0.2263,Lack of trained workforce,-0.3182
1236,Work stress,-0.4215,Lack of time off,-0.3182
1240,Undervalued,0.0000,Underpaid,0.0000
1255,There are no university programs for embryologiests,-0.2960,costs to be trained abroad,0.0000

Mean sentiment: -0.048
Std dev:         0.220

,Q3a,sentiment1,Q3b,sentiment2
9,train managers to lead and not manage,0.0000,recognition,0.0000
22,no weekend work (better timing),-0.2960,knowledge that fertilization failure is not the fault of the embryologist,-0.2598
41,better training with more places available,0.4404,better control of cycle numbers,0.4404
43,Consistent workload,0.0000,Reduced administrative burden,-0.4404
47,Getting the right balance of cycles to staff,0.0000,Support for CPD/Innovation/Research,0.4019
...,...,...,...,...
1232,Setting realistic staffing ratios,0.0000,Recognizing that embryologists are not just Lab Techs,0.0000
1233,Proper staffing,0.0000,Proper compensation,0.0000
1236,Hire more personel,0.0000,Better benifits,0.4404
1240,Staffing guidelines/rules,0.0000,Educational guidelines and rules,0.0000
1255,havng university programs in embryology,0.0000,having fellowships or grants to perform this programs,0.2263

Mean sentiment:  0.129
Std dev:         0.207

,Q4,sentiment
9,have a happy team,0.5719
22,Lab-Leader,0.0000
41,Lab manager,0.0000
43,Career goal achieved.,0.0000
47,Lab director,0.0000
...,...,...
1232,To retire,0.0000
1233,Have a position that uses my knowledge but has a flexible schedule. Possibly training or sales position,0.3291
1236,To retire,0.0000
1240,Retire with money in the bank,0.0000
1255,being able to help our patients,0.4019

Mean sentiment:  0.193
Std dev:         0.285

       World bank classification       Q1        Q2        Q3        Q4
0          High-income economies -0.05703 -0.048019  0.128765  0.193497
1  Upper-middle-income economies  0.00000  0.000000  0.000000  0.000000
2  Lower-middle-income economies  0.00000  0.000000  0.000000  0.000000
3           Low-income economies  0.00000  0.000000  0.000000  0.000000

### 7.3.2 Mgmt + Upper-middle-income economies

In [510]:
umi_df = df[df["Category 2: World bank classification"].isin(['Upper-middle-income economies'])]
umi_mgm_df = umi_df[umi_df["Category 3: Professional status"].isin(['Management/director'])]
# umi_sen_df
analyse_verbatims(1, umi_mgm_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
11,Time managment,0.0000,Long hours,0.0000
14,Time spent at work,0.0000,Money for new quipment,0.0000
15,Workload,0.0000,Underpaid,0.0000
23,Pression,0.0000,Rare free days,0.5106
26,Stress induced work environment,-0.4215,No support to access clinical embryology knowledge,0.1280
...,...,...,...,...
1059,Training,0.0000,Place to work,0.0000
1068,Time off,0.0000,Impact of negative outcomes,-0.5719
1248,sterility,0.0000,accuracy/prevention of errors,-0.3400
1253,Respect from other departments for the complex work we do,0.4767,Financial compensation for overtime etc.,0.0000
1254,limited staff,-0.2263,doctors,0.0000

Mean sentiment: -0.041
Std dev:         0.237

,Q2a,sentiment1,Q2b,sentiment2
11,Lack of respect,0.2023,Having to make do with bare min equipment,0.0000
14,Low salary,-0.2732,Stress,-0.4215
15,Underpayment,0.0000,Lack of recognition,-0.3182
23,Recognition,0.0000,Salary,0.0000
26,Lack of organized regulations community,-0.3182,AI,0.0000
...,...,...,...,...
1059,.,0.0000,.,0.0000
1068,Impact of negative outcomes,-0.5719,back/neck pain,-0.5106
1248,availability of positions,0.0000,working conditions,0.0000
1253,Financial participation: Owning shares,0.2960,lack of respect for the work we do by doctors,0.2023
1254,Salaries,0.0000,Limit work opportunities,0.3818

Mean sentiment: -0.045
Std dev:         0.269

,Q3a,sentiment1,Q3b,sentiment2
11,Bigger budget for new equipment,0.0000,avoidance of working both days on weekends,-0.4019
14,More staff,0.0000,more off time,0.0000
15,Increase number of embryologists per lab,0.3818,Pay,-0.1027
23,Base and high salary,0.0000,Free weekends,0.5106
26,Union for embryologist,0.0000,Increase scientific support through worksfop and continuous education,0.6124
...,...,...,...,...
1059,Salary,0.0000,Training,0.0000
1068,Evaluation of lab ergonomics,0.0000,regular mental health questionnaire,0.0000
1248,Mon to Fri working hours,0.0000,8 hours per day,0.0000
1253,Pay them!,-0.1759,Invite financial incentives to the embryologists as well. e.g. Shares!,0.7574
1254,Better salaries,0.4404,Flexible working hours,0.2263

Mean sentiment:  0.130
Std dev:         0.243

,Q4,sentiment
11,Done it,0.0000
14,Best success rate to promote our clinic,0.8885
15,Help struggling couples to have family of their own.,-0.0258
23,Be a recognized embryologist in the world,0.0000
26,Partnership in ivf center,0.0000
...,...,...
1059,.,0.0000
1068,Maximize pregnancy rates,0.0000
1248,Building up of newly found laboratory in remote part of country,0.0000
1253,I reached the glass ceiling. All I can do is hope to study further and further and further.....,0.5106
1254,Laboratory director,0.0000

Mean sentiment:  0.170
Std dev:         0.305

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.057030 -0.048019  0.128765  0.193497
1  Upper-middle-income economies -0.041149 -0.045266  0.130171  0.170411
2  Lower-middle-income economies -0.041149 -0.045266  0.130171  0.170411
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.3.3 Mgmt + Lower-middle-income economies

In [512]:
lmi_df = df[df["Category 2: World bank classification"].isin(['Lower-middle-income economies '])]
lmi_mgm_df = lmi_df[lmi_df["Category 3: Professional status"].isin(['Management/director'])]
# lmi_mgm_df
analyse_verbatims(2, lmi_mgm_df, WBclass_results_df)
WBclass_results_df

,Q1a,sentiment1,Q1b,sentiment2
39,Little black of communication with clinical team,0.0000,Working hours,0.0000
71,documentation,0.0000,ethical practice,0.5106
121,Timing,0.0000,Trust,0.5106
217,Clinician stress,-0.4215,Managment stresa,0.0000
231,No,-0.2960,No,-0.2960
272,Explanations for no embryo formation,-0.2960,Team work with clinician,0.0000
276,to work in good atmosphere,0.4404,to have high tech lab,0.0000
294,time,0.0000,ergonomics,0.0000
340,Fertilization Rate and Blatulation rate,0.0000,Laboratory environment maintenance,0.0000
354,Ethical approach,0.5106,Decision making about ET or no ET,-0.2960
366,Subdued by senior embryologists,0.0000,No open platform to work out,-0.2960
380,Lack of knowledge about lab requirements among managements,-0.3182,Lack of qualified embryologists getting suitable remuneration,-0.3182
389,Pressure about results ( ivf success),-0.2960,Need for constant concentration and focus,0.0000
391,Not acknowledge & no respect,-0.1695,Over powering by clinicians,0.0000
592,Having dedicated & permanent staff,0.4588,Maintenance of lab with qualified people,0.0000
652,Clinicians takes all the decision,0.0000,Senior doesn't want to train junior,-0.0572
740,Acceptance amongst clinicians,0.4588,Workload,0.0000
742,"Managing surrounding atmosphere for VOC,",0.0000,Continuous availability on LN2,0.0000
768,Ethical dilemmas,0.5106,Clinician dominance,0.2023
769,Lack of vision,-0.0772,Stress,-0.4215
802,Lack of full technology,-0.3182,Shortage of time,-0.2500
859,coordination,0.0000,quality management,0.0000
867,Harassment by seniors,-0.5423,Low pay,-0.3612
878,Long hrs,0.0000,Ignorance of clinicians in ivf lab,-0.3612
898,Lack of inclination towards research and publication,-0.3182,Low case load due to covid,-0.2732
918,Quality assurance,0.3400,Handling techniques,0.0000
949,To meet the demand of clinicians,-0.1280,"Success rates, comparison",0.5719
1014,Expecting more success,0.6115,Responsibilities,0.0000
1021,Organisation,0.0000,Speed manipulation,-0.2960
1055,Communication with clinicians,0.0000,Lack of proper recognition,-0.3182
1093,No equality in work because we don't have specific governmental rules for Embryologists.,-0.2960,No scientific support in all ivf updates overall,0.1280
1094,Timing between work and studying,0.0000,Work load,0.0000
1095,More work load,0.0000,Less appreciation,0.4601
1099,Hindrance to ethical practice,0.1531,No freedom for expert decisions,0.4588
1120,You cannot use anything without the permission of the management,0.0000,Very difficult to introduce new technology,-0.4201
1123,Clinician dominance,0.2023,Working on weekends,0.0000
1131,To prove themselves,0.0000,Gain clinicians trust,0.7717
1135,Peer pressure,-0.2960,Salary,0.0000
1146,Recognition,0.0000,Inadequate staffing,-0.4019
1156,Lack of communication with management,-0.3182,Lack of communication with the patient,-0.3182

Mean sentiment: -0.018
Std dev:         0.289

,Q2a,sentiment1,Q2b,sentiment2
39,Time at workplace,0.0000,Little stress for achieving better outcome,0.1010
71,ethical practice,0.5106,success rate,0.5719
121,Result oriented,0.0000,Timing,0.0000
217,Job vacancies,0.0000,Abroad job opportunities,0.3818
231,No,-0.2960,No,-0.2960
272,Ethical issues- not everyone is on same page,0.5106,Lack of regulations for the professional,-0.3182
276,Implementation of new technologies,0.0000,scientific researches,0.0000
294,lack of knowledge by others,-0.3182,inadequate recognition,-0.4019
340,Clinical Dominance,0.2023,Uniformity in proccedures and protocols,0.0000
354,Ethical approach,0.5106,Salary/remuneration,0.0000
366,Ethical aspects,0.5106,Stagnation of juniors,0.0000
380,Qualified embryologists often being lead by unqualified peers,0.0000,Reluctance of peers to train juniors under them,-0.3400
389,Training,0.0000,Long work hours,0.0000
391,Everyone thinks all embryologists are unqualified,0.0000,Low pay and lots of responsibilities and kind hrs of working and working during holidays,0.5423
592,Free lancing,0.5106,No coordination between clinician & embryologist & lack of embryology knowledge in clinicians,-0.5423
652,Not recognised in country,0.0000,Clinicians want to control everything,0.0772
740,Lack of quality professionals,-0.3182,Clinicians dominance,0.2023
742,Convincing the clinicians,0.4019,Dependency on clinician,0.0000
768,Keeping uptodate with Technology advances,0.0000,Clinician dominated,0.0000
769,Under payed,0.0000,Over worked,0.0000
802,Too many providers,0.0000,Freelancing,0.1027
859,Timings,0.0000,Holidays,0.3818
867,Bad quality labs,-0.5423,Pressure to get results,-0.2960
878,Improving their career,0.4215,Income,0.0000
898,Lack of experience under a senior,-0.3182,Lack of standard practices,-0.3182
918,Quality development skills,0.0000,Technical development,0.0000
949,Stress,-0.4215,Not much support from the clinic to enhance knowledge,-0.3089
1014,Consistent Result,0.0000,No apriciation,-0.2960
1021,Minimized error manipulation,-0.5994,Stress gestion,-0.4215
1055,Lack of recognition in positive outcomes,0.3182,Being blamed for all negative outcomes,-0.7783
1093,Financial issues,0.0000,Follow up updates,0.0000
1094,Work load,0.0000,F,0.0000
1095,Need more skilled embryologist,0.0000,Need more training centers,0.0000
1099,Work hours,0.0000,Monopolistic competition,0.0000
1120,No training center to upgrade the skill,-0.2960,No accreditation for embryologist,-0.2960
1123,Unethical practices to show high success radtes,0.1027,Lack of supervised training to the upcoming embryologist ergono,-0.3182
1131,No personal life,-0.2960,Nthng,0.0000
1135,Lack of career guidance,-0.3182,Lack of training,-0.3182
1146,Too much work load,0.0000,And no accountability,-0.2960
1156,No clear path for career success other than monetary judgement,0.6249,Na,0.0000

Mean sentiment: -0.029
Std dev:         0.292

,Q3a,sentiment1,Q3b,sentiment2
39,Good communication with team,0.4404,Fixed working hours and open discussion,0.0000
71,follow SOP,0.0000,HANDS ON PRACTICE,0.0000
121,Time management,0.0000,Organised,0.0000
217,License issue,0.0000,Labour law,0.0000
231,Qualification,0.0000,Centralized certification,0.0000
272,Appreciation,0.5106,Regulations,0.0000
276,increasing of training options,0.0000,to automize lab quality management,0.0000
294,ergonomics,0.0000,time slots,0.0000
340,Encourage them by sponsoring to the international congress/conferences,0.5106,Every embryologist can not publish his work - creating publications facility of his laborius work can imrove his wrkoing condition,0.2960
354,Confidence to say no to Malpractices,0.2732,Exposure to new articles,0.0000
366,Equal weightage to all irrespective of age,0.0000,Performance oriented incentives,0.3182
380,Better recognition of qualified juniors,0.4404,Regulation and licensing of embryologists based on their education,0.0000
389,Better technology thats easy to master,0.7003,Equal participation with clinicians in planning and delivery of Ivf services,0.0000
391,Embryologist must be qualified msc/phd,0.0000,There must be national regulations for embryologist and ivf units,0.0000
592,Every clinician should be aware of what’s happening in their IVF labs,0.0000,Good understanding between Embryologist & clinician and both should be present in patient counselling sessions together,0.4404
652,Need more institutions which provides the course,0.0000,Govt license is required,0.0000
740,Proper staffing,0.0000,Adequate resources,0.2263
742,More practice,0.0000,Good training,0.4404
768,Freedom from clinician dominance,0.7184,Online onjob training,0.0000
769,Have occupational standards,0.0000,Work ethics,0.0000
802,Full time fully qualified and trained embrylogists,0.0000,Focussed jobs,0.0000
859,Have more seniors to perform all the procedures to ensure equal work distribution,0.3818,more understanding between the clinician and the lab people,0.0000
867,Pay them more,-0.1027,Separate cabins,0.0000
878,Having a system for career improvement,0.4588,To be part of decision making in ivf clinic,0.0000
898,Adequate exposure to working with seniors,0.2263,Adequate exposure to cases,0.2263
918,Hands on practice with scientific knowledge,0.0000,Learning of advanced techniques,0.2500
949,Stress free,0.1280,More salary,0.0000
1014,Importance of Embryologist,0.3612,Professional training,0.0000
1021,Motivation,0.3400,Number or embrylogist staff,0.0772
1055,Improved interaction between clinicians and embryologists,0.4767,Motivation and proper recognition for efforts,0.3400
1093,More employee's to divid the tasks well.,0.2732,More skills more meetings.. More scientific papers must published for each ivf clinic,0.0000
1094,Training,0.0000,Superving,0.0000
1095,Knowledge sharing,0.4215,Monetory appreciated,0.5106
1099,"Improved staffing , rota and holidays",0.6908,Minimize external pressure to enhance calm working atmosphere,0.0258
1120,Need recognise the embryologist profession in our country,0.0000,Management give them flexibility to use newer technology,0.3400
1123,Ergonomically designed lab,0.0000,Due respect should be given. Not to be treated as technicians.,0.4767
1131,Less stress,-0.3626,Nthng,0.0000
1135,Reducing cost of embryology courses,0.0000,Legalization,0.0000
1146,Improve staffing norms,0.4404,Make them accountable,0.0000
1156,Making sure of substitutes in the lab,0.3182,Implantation of newer technology,0.0000

Mean sentiment:  0.145
Std dev:         0.212

,Q4,sentiment
39,To give my best,0.6369
71,TO START OWN FERTILITY CLINIC,0.0000
121,Shine in career,0.0000
217,To be in the top most positions,0.2023
231,Get some paper on international journals,0.0000
272,Keep improving my knowledge and skills,0.4215
276,I achieved all my dreams for myself. I just wanna teach more young embryologists for IVF field,0.4019
294,"Research oriented , healthy live borns",0.4019
340,Happy Respectful Retirement,0.7717
354,Rich embryologist,0.5574
366,"To help, train, educate the juniors",0.4019
380,To become a very dependant embryologist for any IVF lab,0.0000
389,Teach aspiring embryologists and contribute to scientific journals,0.0000
391,Lab director in Middle East,0.0000
592,To be a good ethical IVF consultant with high knowledge in clinical embryology and to be with updated knowledge for the benefit of patients,0.8481
652,To get in research,0.0000
740,"To set up an IVF unit to provide ethical, transparent and affordable treatment.",0.5106
742,To have more state of art ART Centers.,0.0000
768,Settled life,0.0000
769,Pursue a career in training and academia,0.0000
802,To be the best in my region and have the highest pregnancy and live birth rates. To incorporate the latest equipment and technology.,0.6369
859,To complete PHD and further excel in the field,0.4588
867,To become an IVF clinic owner,0.0000
878,To be a partner in ivf clinic which will inhance my motivation for better results,0.6486
898,Clinical research,0.0000
918,Best embryologist,0.6369
949,"Nothing, almost achieved",0.0000
1014,Acheive top position,0.2023
1021,"Be more professionnel, do publications",0.0000
1055,To help train budding embryologists and help couples achieve parenthood,0.6597
1093,My ambition is to increase my self esteem when I show sterile couples having babies by developing my self scientifically in order to treat difficult sterile cases.,0.3612
1094,Be professional,0.0000
1095,To serve more infertile couple with evidence based practice,0.0000
1099,To provide High quality embryology services High quality training programs,0.0000
1120,To achieve best academic record,0.6369
1123,To do good applied and translational research in infertility,0.4404
1131,To become CEO,0.0000
1135,To become a recognized member of a global community with contributions which can help entire world grow scientifically,0.4019
1146,To provide the best possible ivf services to patients and do meaningful clinical research,0.7579
1156,Heading a leading international IVF lab,0.0000

Mean sentiment:  0.275
Std dev:         0.293

       World bank classification        Q1        Q2        Q3        Q4
0          High-income economies -0.057030 -0.048019  0.128765  0.193497
1  Upper-middle-income economies -0.041149 -0.045266  0.130171  0.170411
2  Lower-middle-income economies -0.018451 -0.028553  0.145168  0.274892
3           Low-income economies  0.000000  0.000000  0.000000  0.000000

### 7.3.4 Mgmt + Low-income economies  = 0 records

In [514]:
lii_df = df[df["Category 2: World bank classification"].isin(['Low-income economies '])]
lii_mgm_df = lii_df[lii_df["Category 3: Professional status"].isin(['Management/director'])]
lii_mgm_df
# analyse_verbatims(3, lii_mgm_df, WBclass_results_df)
# WBclass_results_df

Empty DataFrame
Columns: [Respondent ID, Nationality, NAT, Year of birth, Gender, Marital status, Category 4: Marital status, In what country do you practice clinical embryology?, Category 1: Continent, Category 2: World bank classification, Current professional status at your primary work place, Category 3: Professional status, Unnamed: 12, Describe your primary place of work, Category: Place of work, When did you first start training/practising clinical embryology?, How long was your training?, How many fresh IVF/ICSI cycles did your primary clinic approximately perform annually (based on pre-pandemic census data, do not write multiple clinics' cycles if you are in a chain of clinics)? , How many fresh IVF/ICSI cycles does your primary clinic approximately perform annually (during the pandemic period, do not write multiple clinics' cycles if you are in a chain of clinics)? , How often is ICSI performed in your laboratory practice (% of all cases)?, Does your clinic perform conventional IVF?, Does your clinic perform freeze-all cycles?, How many PGT cases does your clinic perform monthly?, At what developmental stage do you perform embryo biopsy?, Which sperm preparation techniques are performed in your laboratory? (Select all that apply), Unnamed: 25, Unnamed: 26, Unnamed: 27, Unnamed: 28, Unnamed: 29, Unnamed: 30, Unnamed: 31, Unnamed: 32, Unnamed: 33, Unnamed: 34, Unnamed: 35, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, How many cases of special washing procedures are carried out per month at your laboratory for viral seropositive semen samples (e.g., HIV)?, Does your laboratory have any of the following air purification systems for particulates and volatile organic compounds (VOC)? (Select all that apply), Unnamed: 42, Unnamed: 43, Unnamed: 44, Unnamed: 45, Unnamed: 46, Unnamed: 47, Unnamed: 48, Does your lab have a Standard Operating Procedure (SOP) manual?, Are there any graduate/diploma courses in clinical embryology in your country?, Do you have a clinical embryology graduate degree?, If you are a graduate in clinical embryology, was it residential on-campus or online?  , If you are a graduate in clinical embryology, were you satisfied with your graduation practical training that you received during your academic program , If you have a plan to enrol into a higher education program (MSc or PhD), what would be your preference?  , Do you find it difficult to enrol into a higher academic degree program in your country while practising clinical embryology (e.g. restricted from registering for a PhD)?, Why do you want to earn a higher academic degree?, Unnamed: 57, Unnamed: 58, Unnamed: 59, Unnamed: 60, Unnamed: 61, Are you planning to undertake any international certification for examination/recognition in clinical embryology (e.g. ESHRE/ABB certification)?, If you opt for a graduate program in ART, what would be your preference?  , Has the current COVID-19 pandemic changed your perception of teaching methods?, Do you find the current degree/courses/programs in embryology too expensive for you to enrol or to recommend to your peers?, Do you agree that all IVF centres should only have graduates/post-graduates in clinical embryology in their labs?, Are there any training centres in your country of practice?, Do you have full access to scientific peer-reviewed journals?, How many scientific papers have you authored or co-authored to peer-reviewed journals?, How often do you attend national/international scientific meetings or congresses in person?, Why do you attend scientific meetings/webinars/workshops? (Select all that apply), Unnamed: 72, Unnamed: 73, Unnamed: 74, Does your clinic sponsor your attendance to congresses/workshops?, Does your current employer encourage scientific contributions (e.g. presenting) at international conferences/meetings and/or publications?, Do you rely on the following sites/online sources to stay up to date? (Select all that apply), Unnamed: 78, Unnamed: 79, Unnamed: 80, Unnamed: 81, Unnamed: 82, Unnamed: 83, Unnamed: 84, Q1a, Q1b, Q2a, Q2b, Q3a, Q3b, How many hours a day do you work on average?, Q4, Are you satisfied with your current job?, Does your centre actively promote/encourage/provide funding for research?, Do you have a positive work environment relationship with your supervisor/director/manager (who you directly report to) for open discussions?, What do you do when you make significant errors (patient or non-patient related incidents) at work? (Select all that apply), Unnamed: 97, Unnamed: 98, Unnamed: 99, ...]
Index: []

[0 rows x 171 columns]

### 7.3 Heatmap

In [515]:
import seaborn as sns
s = WBclass_results_df.style.background_gradient()
s